/* =icons
*******************************************************************************/

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?lo3clb');
    src:  url('../fonts/icomoon.eot?lo3clb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?lo3clb') format('truetype'),
    url('../fonts/icomoon.woff?lo3clb') format('woff'),
    url('../fonts/icomoon.svg?lo3clb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before { content: "\e900"; }
.icon-facebook:before { content: "\ea90"; }
.icon-twitter:before { content: "\ea96"; }
.icon-linkedin2:before { content: "\eaca"; }
.icon-heart:before { content: "\e901"; }
.icon-share2:before { content: "\ea82"; }
.icon-search:before { content: "\e902"; }
.icon-link:before { content: "\e9cb"; }

/* =reset css
*******************************************************************************/

* { margin: 0; padding: 0; }
a {
    text-decoration:none;
    outline: none;
    color: inherit;
}
table { border-spacing: 0; }
fieldset,img,iframe {
    border: 0;
    outline: none;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{ font-weight: 600; }
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
    color:#085486;
    text-align: center;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
q:before,q:after {content:'';}
abbr,acronym { border: 0;}
button {cursor: pointer}

/* =general CSS
*******************************************************************************/

html,body {
    background-color: #fff;
    font-size: 14px;
}
body {
    color: #666;
    line-height: 1.2;
}
body, input, textarea, button {font-family: 'Open Sans', sans-serif;}
.container {
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:0 11rem;
}
.btn-container {text-align: center}
.btn {
    display: inline-block;
    background-color: #678e3e;
    color: #fff;
    border: none;
    font-size: 1.8rem;
    border-radius: 45px;
    padding: 1rem;
    min-width: 10rem;

    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.clearfix:after { content: ''; display: block; clear: both; }

/* =header
*******************************************************************************/

.section-header {
    background-color: #085587;
    padding: 1.4% 3.5%;
}
.section-header .logo {
    display: block;
    height: 3.85rem;
}
.section-header .logo img {
    display: block;
    height: 100%;
    width: auto;
}

/* =sharing
*******************************************************************************/

.sharing {
    text-align: right;
}
.sharing li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 11px;
}
.sharing li a {
    display: block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
}
.section-header .sharing {
    padding: 3px 0;
    margin-bottom: 7px;
}
.section-footer .sharing li {
    margin-left: 17px;
}
.section-footer .sharing li a {
    background-color: #999;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}

/* =main
*******************************************************************************/

.blog-theme {
    position: relative;
    min-height: -webkit-calc(100vh - 120px);
    min-height: -moz-calc(100vh - 120px);
    min-height: calc(100vh - 120px);
}
.blog-theme:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
}
.blog-theme-white {background-color: #fff;}
.blog-theme-grey {background-color: #b3b3b3;}
.blog-theme-white:before { background-color: #b3b3b3; }
.blog-theme-grey:before { background-color: #fff; }

.main-wrap {
    float: left;
    width: 70%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3.5% 4.8% 0;
}
.main-wrap .blog-header {
    width: 100%;
    background-color: #3e4b5d;
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
    color: #f2f2f2;
    padding: 2.4% 3%;
    font-size: 1.23rem;
    line-height: 1.3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 6px;
}
.blog-header h1 {
    color: #fff;
    font-size: 3.55rem;
    line-height: 1.2;
    max-width: 40%;
    text-align: left;
}
.blog-header .time {
    display: block;
    color: #085486;
    font-size: 1.5rem;
    padding-bottom: 15px;
}
.blog-header a { color: #70a341; }

/* =posts
*******************************************************************************/

.posts-list_main {
    margin-bottom: 3rem;
}
.posts-list_bar {
    border-top: 2px solid #e6e6e6;
    padding: 3rem 0 0;
}
.posts-list_main ul { margin: 0 -1rem 1.8rem; }
.posts-list_bar ul { margin: 0 -1rem; }
.posts-list ul li {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.posts-list_main ul li {padding: 1rem;}
.posts-list_bar ul li {padding: 0 1rem;}
.posts-list ul li a {
    display: block;
}
.posts-list ul section {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5rem;
}
.posts-list_main ul section { background-position: center 10rem; }
.posts-list_bar ul section { background-position: center center; }
.posts-list ul header {
    padding: 3% 5%;
}
.posts-list_main ul header {
    background-color: #fff;
}
.posts-list_main ul header {color: #085587;}
.posts-list_bar ul header {color: #fff;}
.posts-list ul .hgroup {
    height: 13rem;
    width: 100%;
    display: table;
    margin-bottom: 8px;
}
.posts-list ul h2 {
    text-align: left;
    display: table-cell;
    font-size: 3.5rem;
    color: inherit;
    vertical-align: bottom;
}
.posts-list ul .time {
    display: block;
    font-size: 1.5rem;
    color: inherit;
}
.posts-pages { padding: 2rem 0; }
.posts-pages .btn { margin: 0 3rem; }

/* =post item
*******************************************************************************/

.post-item {
    font-size: 1.23rem;
    line-height: 1.3;
    margin-bottom: 2rem;
}
.post-item header h1 {
    color: #085486;
    font-size: 3.55rem;
    line-height: 1.2;
    text-align: left;
}
.post-item header .time {
    display: block;
    color: #085486;
    font-size: 1.5rem;
    padding-bottom: 15px;
}
.post-item figure {
    display: block;
    width: 100%;
    margin-bottom: 2.5rem;
}
.post-item figure img {
    display: block;
    width: 100%;
    height: auto;
}
.post-item p { margin-bottom: 1.5rem; }
.post-item-content { margin-bottom: 3rem; }
.post-item-social {
    text-align: right;
    border-top: 2px solid #e6e6e6;
    padding: 0.6rem 3%;
    font-size: 1.6rem;
}
.post-item-social a {
    display: inline-block;
    margin-left: 3rem;
}
.post-item-social a span,
.post-item-social a i {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.9rem;
}
.post-item-social a i {color: #70a341}
.post-item-social ul {
    display: none;
    margin-left: 3rem;
}
.post-item-social ul.active {display: inline-block}
.post-item-social ul li {
    display: inline-block;
    vertical-align: middle;
}
.post-item-social ul li a {
    display: block;
    margin: 0;
    width: 30px;
    height: 30px;
    line-height: 25px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}
.color-fb {background-color: #3B5998}
.color-tw {background-color: #1DA1F2}
.color-ld {background-color: #0077B5}
.color-lnk {background-color: #4285F4}
.post-item-social ul li a span {
    font-size: 1.3rem;
}

/* =comment form
*******************************************************************************/

.post-comment { margin-bottom: 2rem; }
.post-comment fieldset { display: block; }
.post-comment label {
    color: #085587;
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.post-comment input,
.post-comment textarea {
    display: block;
    width: 100%;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #e6e6e6;
    padding: 2%;
    margin-bottom: 1rem;
}
.post-comment .btn-container {
    text-align: right;
    padding: 1.2rem 0;
}

/* =comments
*******************************************************************************/

.commentlist {margin-bottom: 2rem}
.commentlist .comment {overflow: hidden; margin-bottom: 1rem}
.commentlist .avatar-holder {width: 50px; float: left}
.commentlist .avatar-holder img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.commentlist .commentlist-holder {
    margin-left: 70px;
    font-size: 1.4rem;
}
.commentlist .commentlist-holder .meta {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #888;
}
.commentlist .comment-reply-link {
    display: inline-block;
    margin-top: 0.5rem;
    color: #3c98bb;
    font-size: 1.4rem;
    text-decoration: underline;
}

/* =sidebar
*******************************************************************************/

.sidebar {
    position: relative;
    float: left;
    width: 30%;
    z-index: 1;
    padding: 3.3% 2%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.blog-theme-white .sidebar {color: #fff; background-color: #b3b3b3;}
.blog-theme-grey .sidebar { background-color: #fff; }
.sidebar h3 {
    font-size: 2.6rem;
    margin-bottom: 18px;
    text-align: left;
    text-transform: uppercase;
    color: inherit;
}
.sidebar h4 {
    font-size: 2.6rem;
    font-weight: 300;
    margin-bottom: 18px;
    text-align: left;
    color: inherit;
}
.sidedar-category { margin-bottom: 3rem; }
.sidedar-category ul {
    -webkit-columns: 2 auto;
    -moz-columns: 2 auto;
    columns: 2 auto;
    padding-left: 11%;
    font-size: 1.6rem;
    margin-bottom: 2.2rem;
}
.sidedar-category ul li {
    padding-left: 1rem;
    position: relative;
    margin-bottom: 8px;
}
.sidedar-category ul li:before {
    background-color: #666;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 0.5rem;
}
.blog-theme-white .sidedar-category ul li:before {background-color: #fff;}
.sidedar-category ul a {
    text-decoration: underline;
    display: inline-block;
}
.sidedar-widget {
    border-top-width: 2px;
    border-top-style: solid;
    padding-top: 8%;
}
.blog-theme-grey .sidedar-widget { border-color: #727a7c; }
.blog-theme-white .sidedar-widget { border-color: #e6e6e6; }
.widget-content { margin-bottom: 2.5rem; }

/* =search
*******************************************************************************/

.search-form {
    background-color: #fff;
    padding: 5px;
}
.search-form fieldset {
    display: block;
    position: relative;
    width: 100%;
}
.search-form input {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 1.5rem;
    height: 4rem;
    line-height: 4rem;
    padding: 0 4%;
}
.search-form button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3c98bb;
    color: #fff;
    border: none;
    font-size: 4rem;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    outline: none;
}

/* =footer
*******************************************************************************/

.column {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1rem;
}
.column_6 {width: 50%}
.section-footer {
    margin-top: 1rem;
    font-size: 1.5rem;
}
.section-footer .columns {
    border-top: 1px solid #ccc;
    padding: 1.2rem 0;
}
.copyright { line-height: 30px; }
.copyright a,
.copyright span {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
}
.copyright a {
    height: 18px;
    margin-bottom: -4px;
}
.copyright a img {
    height: 100%;
    width: auto;
    display: block;
}

/* =hovers
*******************************************************************************/

@media screen and (min-width:1025px){
    .sharing li a:hover {background-color: #3c98bb}
    .gallery_demo a:hover figure {border-color: #e5e5e5}
    .gallery_demo a:hover figure:before {opacity: 1}
    .gallery_demo a:hover figure:after {
        opacity: 1;
        top: 0;
    }
}

/* =media css
*******************************************************************************/

@media screen and (max-width:1600px){
    html, body { font-size: 13px; }
}
@media screen and (max-width:1480px){
    html, body { font-size: 11px; }
}
@media screen and (max-width:1024px){
    .sidebar,
    .main-wrap {
        width: 100%;
        padding: 4rem;
    }
    .container {padding: 0 4rem}
    .section-footer .column_6:first-child {
        width: auto;
    }
    .section-footer .column_6:last-child {
        width: auto;
        float: none;
    }
    .blog-theme:before {display: none}
}
@media screen and (max-width:767px){
    .blog-header h1 {max-width: 50%}
    .posts-list ul h2 {font-size: 3rem}
    .posts-list ul .hgroup { height: 11rem;}
    .sidebar, .main-wrap {padding: 2rem}
    .container {padding: 0 2rem}
    .section-footer {text-align: center}
    .section-footer .column {float: none}
    .section-footer .sharing {
        text-align: center;
        padding:10px 0;
    }
}
@media screen and (max-width:600px){
    .section-header { padding: 1rem; }
    .section-header .logo { height: 3rem; }
    .section-header .logo img { margin: 0 auto; }
    .sidebar, .main-wrap { padding: 1rem; }
    .main-wrap .blog-header { margin-bottom: 2rem; }
    .blog-header h1 { max-width: none; }
    .posts-list ul { margin: 0 0 1rem; }
    .posts-list ul li {
        margin-bottom: 1.5rem;
        padding: 0;
        width: 100%;
    }
    .posts-list ul .hgroup { height: auto; }
    .posts-list ul section { padding-bottom: 7rem; }
    .posts-list_main ul section { background-position: center 5rem; }
    .posts-pages { padding: 1rem 0; }
    .posts-pages .btn { margin: 0 0.5rem; }
}