/*--------------------------------icons--------------------------------*/

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?sg99r7');
    src:  url('../fonts/icomoon.eot?sg99r7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?sg99r7') format('truetype'),
    url('../fonts/icomoon.woff?sg99r7') format('woff'),
    url('../fonts/icomoon.svg?sg99r7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before { content: "\e900"; }
.icon-facebook:before { content: "\ea90"; }
.icon-twitter:before { content: "\ea96"; }
.icon-linkedin2:before { content: "\eaca"; }
.fs14 { font-size: 14px; }
.fs16 { font-size: 16px; }
.fs20 { font-size: 20px; }
.fs32 { font-size: 32px; }

/*--------------------------------reset CSS--------------------------------*/

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration:none;
    outline: none;
    color: inherit;
}
table {
    border-spacing: 0;
}
fieldset,img,iframe {
    border: 0;
    outline: none;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
    font-weight: 600;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
    color:#085486;
    text-align: center;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
q:before,q:after {content:'';}
abbr,acronym { border: 0;}
button {cursor: pointer}

/*--------------------------------general CSS--------------------------------*/

html,body {
    background-color: #fff;
}
body {
    font-size: 17px;
    color: #666;
    line-height: 1.7;
}
body, input, textarea, button {font-family: 'Open Sans', sans-serif;}
.container {
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:0 5px;
}
.container_lg {max-width: 1366px}
.btn-container {text-align: center}
.btn {
    display: inline-block;
    background-color: #678e3e;
    color: #fff;
    border: none;
    font-size: 20px;
    border-radius: 45px;
    padding: 0.3em 1em;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.clearfix:after { content: ''; display: block; clear: both; }
.column {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
}
.column_4 {width: 33.3333%}
.column_6 {width: 50%}
.column_8 {width: 66.6666%}
.img img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.section {
    -webkit-transition: all 1.2s;
    -moz-transition: all 1.2s;
    -ms-transition: all 1.2s;
    -o-transition: all 1.2s;
    transition: all 1.2s;
}
.section.fade {opacity: 0}

/*--------------------------------header CSS--------------------------------*/

.section-offer {
    position: relative;
}
.section-offer .bg img {
    display: block;
    width: 100%; height: auto;
}
.section-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.section-header .logo {
    padding: 20px 0;
}
.section-header .logo a {
    display: inline-block;
}
.section-header .logo img {
    display: block;
}
.section-offer .btn-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 34px;
}



/*--------------------------------sharing--------------------------------*/

.sharing {
    text-align: right;
}
.sharing li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 11px;
}
.sharing li a {
    display: block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
}
.section-header .sharing {
    padding: 3px 0;
    margin-bottom: 7px;
}
.section-footer .sharing li {
    margin-left: 17px;
}
.section-footer .sharing li a {
    background-color: #999;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
}


/*--------------------------------main CSS--------------------------------*/

h1 {
    font-size: 55px;
    line-height: 1;
}
h2 {
    font-size: 55px;
    line-height: 1;
}
h3 {
    font-size: 55px;
    line-height: 1;
}
.section-about {
    padding: 32px 5px 28px;
}
.section-about h1 {
    margin-bottom: 12px;
    text-align: left;
}
.section-about .iframe-wrap {
    width: 100%;
    padding-top: 55%;
    position: relative;
}
.section-about .iframe-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-phases h2 {
    margin-bottom: 28px;
}
.section-phases .img {
    padding: 0 25px 0 0;
}
.phases ul {
    font-size: 0;
    counter-reset: item;
    padding: 36px 0 20px;
}
.phases li {
    display: inline-block;
    font-size: 17px;
    width: 50%;
    vertical-align: top;
    margin-bottom: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding: 0 10px 0 90px;
}
.phases li:before {
    counter-increment: item;
    content: counter(item);
    width: 65px;
    height: 65px;
    display: block;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    line-height: 62px;
    text-align: center;
    font-size: 38px;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 300;
}
.phases li:nth-child(1):before {color: #48b04a; border-color: #48b04a}
.phases li:nth-child(2):before {color: #3ca276; border-color: #3ca276}
.phases li:nth-child(3):before {color: #218e95; border-color: #218e95}
.phases li:nth-child(4):before {color: #017ab3; border-color: #017ab3}
.phases h4 {
    text-align: left;
    font-size: 20px;
    color: #333;
    line-height: 1;
    margin-bottom: 8px;
}

.section-smarts {
    padding: 195px 0 115px;
}
.section-description h3 {
    margin-bottom: 80px;
}
.description li {
    float: left;
    width: 21%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 5.333%;
}
.description li:last-child {margin-right: 0}
.description h4 {
    line-height: 1;
    margin-bottom: 22px;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Open Sans';
}
.description .img {
    width: 40%;
    max-width: 120px;
    margin: 0 auto 13px;
}
.description .img img {
    height: auto;
}
.banner {
    padding: 110px 0;
    text-align: center;
    margin-bottom: 25px;
}
.banner a {
    display: inline-block;
}
.banner img {
    display: block;
    max-width: 100%;
    height: auto;
}
.section-gallery h3 {
    margin-bottom: 20px;
}
.section-gallery .btn-container {
    padding: 34px 0;
}
.section-form {
    padding: 40px 0;
}
.section-form h5 {
    color: #898989;
    font-weight: 100;
    font-style: italic;
    font-size: 24px;
}

/*--------------------------------gallery--------------------------------*/

.gallery {
    padding: 45px 0;
}
.gallery_demo {
    display: flex;
    justify-content: space-between;
}
.gallery_demo a {
    display: block;
    width: 20%;
    margin-bottom: 40px;
}
.gallery_demo a figure {
    display: block;
    padding: 5px;
    border: 1px solid transparent;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
}
.gallery_demo a figure:before {
    content: "";
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    left: 5px;
    background-color: rgba(255,255,255,0.9);
    opacity: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.gallery_demo a figure:after {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    background: transparent url("../images/ico_plus.png") center center no-repeat;
    background-position: 100% 100%;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.gallery_demo a img {
    display: block;
    width: 100%;
    height: 240px;
}


/*--------------------------------footer CSS--------------------------------*/

.section-footer {
    margin-top: 200px;
}
.section-footer .columns {
    border-top: 1px solid #ccc;
    padding: 14px 0;
}
.copyright {
    line-height: 30px;
}
.copyright a,
.copyright span {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
}
.copyright a {
    height: 18px;
    margin-bottom: -4px;
}
.copyright a img {
    height: 100%;
    width: auto;
    display: block;
}


/*--------------------------------hovers CSS--------------------------------*/

@media screen and (min-width:1025px){
    .sharing li a:hover {background-color: #3c98bb}
    .gallery_demo a:hover figure {border-color: #e5e5e5}
    .gallery_demo a:hover figure:before {opacity: 1}
    .gallery_demo a:hover figure:after {
        opacity: 1;
        top: 0;
    }
}

/*--------------------------------media CSS--------------------------------*/

@media screen and (max-width:1200px){
    .column_8, .column_4, .column_6 {width: 100%; padding: 0}
    .section-about .iframe-wrap {margin: 35px 0;}
    .section-footer .column_6:first-child {
        width: auto;
    }
    .section-footer .column_6:last-child {
        width: auto;
        float: none;
    }
    #main .section,
    .banner {
        padding-left: 15px;
        padding-right: 15px;
    }
    .gallery_demo a {width: 23%}
    .gallery_demo a img {
        height: 210px;}

}
@media screen and (max-width:1024px){
    .description li {
        width: 50%;
        margin-right: 0;
        padding: 0 20px;
        margin-bottom: 35px;
    }
    .section-header .sharing {display: none}

    .gallery_demo {
        flex-wrap: wrap;
    }
    .gallery_demo a {
        width: 47%;
    }
    .gallery_demo a img {
        height: 256px;
    }
}
@media screen and (max-width:767px){
    .section-header {
        position: static;
        background-color: #fff;
    }
    .section-header .logo {
        padding: 10px 5px;
    }
    .section-header .logo a {
        display: inline;
    }
    .section-header .logo img {
        width: 150px;
    }
    h1, h2, h3 {font-size: 45px}
    .section-footer {text-align: center}
    .section-footer .column {float: none}
    .section-footer .sharing {
        text-align: center;
        padding:10px 0;
    }
}
@media screen and (max-width:600px){
    .section-offer .btn-container {
        position: static;
    }
    .section-offer .btn-container .container {padding: 0}
    .section-offer .btn {
        display: block;
        border-radius: 0;
        text-align: center;
    }
    h1, h2, h3 {font-size: 38px}
    .phases li {
        width: 100%;
        padding: 90px 0 0;
    }
    .phases li::before {
        left: 0;
        right: 0;
        margin: auto;
    }
    .phases h4 {text-align: center}
    .section-smarts {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .description li {
        width: 100%;
    }
    .banner {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .gallery_demo {display: block}
    .gallery_demo a {width: 100%; margin-bottom: 20px}
    .gallery_demo a img {
        height: auto;
    }
}