.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  //height: 600px;
  @include media(media,959){
    position: static;
  }
  &__main {
    position: relative;
    padding-top: 30px;
    background-color: $bg_grey_lt;
    @include media(media,959){
      padding-top: 0;
      .content {
        padding: 0;
      }
    }
    &:before {
      content: "";
      top: 0;
      left: 0;
      right: 0;
      height: 5px;
      position: absolute;
      background: rgba($link,0.05);
      background: -moz-linear-gradient(top, rgba($link,0.06) 0%, rgba($link,0) 80%);
      background: -webkit-linear-gradient(top, rgba($link,0.06) 0%, rgba($link,0) 80%);
      background: linear-gradient(to bottom, rgba($link,0.06) 0%, rgba($link,0) 80%);
    }
    .logo {
      display: block;
      width: 163px;
      height: 48px;
      margin-bottom: 31px;
      @include media(media,959){
        margin-bottom: 25px;
      }
      @include media(media,479){
        margin-bottom: 36px;
      }
    }
    &-contacts {
      background-color: #fff;
      border-radius: 5px 5px 0 0;
      box-shadow: 0 0 3px 0 rgba($link, 0.05);
      width: 300px;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20239.8%20263.12%22%3E%3Cg%20opacity%3D%220.07%22%3E%3Cpath%20d%3D%22M8764.13%2C3007.26s-36.93-108.75-43.32-113.68c-3.89-3-8.19.88-8.19%2C0.88L8676%2C2920.64c-1.43.74-1.06%2C3.11-1.06%2C3.11v19h-55.63v-19s0.37-2.37-1.06-3.11l-36.62-26.19s-4.3-3.89-8.19-.88c-6.39%2C4.94-43.32%2C113.68-43.32%2C113.68s-8.19%2C18.1%2C3%2C18.63h82.55s4.4%2C0.32%2C4.4-7.6v-52.71h54.15v52.71c0%2C7.92%2C4.4%2C7.6%2C4.4%2C7.6h82.55C8772.32%2C3025.36%2C8764.13%2C3007.26%2C8764.13%2C3007.26Z%22%20transform%3D%22translate%28-8527.23%20-2762.77%29%22%20fill%3D%22%23a5a5a5%22/%3E%3Cpath%20d%3D%22M8703.56%2C2830.78s-26.69-67.2-54.93-68c-0.51%2C0-1%2C.12-1.5.15s-1-.16-1.5-0.15c-28.24.81-54.93%2C68-54.93%2C68s-9.31%2C20-11%2C38.91c0%2C0%2C27.8%2C30%2C56.6%2C38a101.51%2C101.51%2C0%2C0%2C0%2C21.75%2C0c28.8-8%2C56.6-38%2C56.6-38C8712.87%2C2850.81%2C8703.56%2C2830.78%2C8703.56%2C2830.78ZM8647.13%2C2883c-13.75%2C0-24.9-11.8-24.9-26.36s11.15-26.36%2C24.9-26.36%2C24.9%2C11.8%2C24.9%2C26.36S8660.88%2C2883%2C8647.13%2C2883Z%22%20transform%3D%22translate%28-8527.23%20-2762.77%29%22%20fill%3D%22%23a5a5a5%22/%3E%3C/g%3E%3C/svg%3E');
      background-position: 200% 120%;
      background-repeat: no-repeat;
      background-size: 85% auto;
      font-family: VAG_300;
      box-sizing: border-box;
      padding: 30px 36px 0;
      margin-right: 30px;
      @include media(media,959){
        width: auto;
        box-shadow: none;
        border-radius: 0;
        margin: 0;
        background-size: auto 150px;
        background-position: 101% 105%;
        padding: 30px 0 0;
      }
      @include media(media,767){
        padding: 30px 0 8px;
      }
      @include media(media,479){
        padding: 30px 0 44px;
      }
      a {
        color: rgba($link_lt,0.8);
      }
      dl {
        margin-bottom: 20px;
        @include media(media,767){
          display: inline-block;
          vertical-align: top;
          margin-right: 24px;
          margin-bottom: 14px;
        }
        dt {
          font-size: 19px;
          @include media(media,959){
            font-size: 18px;
          }
        }
        dd {
          font-size: 15px;
          color: rgba($link_drk,0.4);
        }
      }

    }
    &-contacts-list {
      @include media(media,959){
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
      @include media(media,767){
        display: block;
      }
    }
    &-nav {
      display: flex;
      width: 100%;
      flex-direction: column;
      padding-top: 22px;
      @include media(media,959){
        padding-top: 28px;
      }
    }
    &-list {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding-bottom: 30px;
      border-bottom: 1px solid rgba($link_lt,0.08);
      margin-bottom: 30px;
      @include media(media,767){
        flex-flow: row wrap;
        padding-bottom: 0;
      }
      h6 {
        font-family: VAG_600;
        color: $link;
        font-size: 18px;
        margin-bottom: 13px;
      }
      nav {
        width: 30%;
        @include media(media,767){
          width: 50%;
          box-sizing: border-box;
          padding-right: 10px;
          margin-bottom: 15px;
        }
        @include media(media,479){
          width: 100%;
          margin-bottom: 20px;
        }
      }
      ul {
        li {
          margin-bottom: 10px;
          @include media(media,779){
            margin-bottom: 8px;
          }
          @include media(media,767){
            margin-bottom: 10px;
          }
        }
        a {
          font-family: VAG_100;
          color: $bg_grey;
          font-size: 15px;
          @include media(media,779){
            font-size: 14px;
          }
        }
      }
    }
    &-content {
      display: flex;

      justify-content: space-between;
      @include media(media,959){
        flex-direction: column;
      }
    }
  }
  &__offer {
    padding: 26px 0;
    @include media(media,767){
      padding: 26px 0 14px;
    }
    @include media(media,479){
      padding: 5px 0 10px;
    }
    &-content {
      display: flex;
      align-content: center;
      @include media(media,767){
        flex-direction: column;
      }
    }
    .title {
      color: rgba(134,134,134,0.8);
      font-size: 12px;
      margin-bottom: 5px;
    }
    &-quote {
      text-align: center;
      padding-right: 25px;
      width: 74%;
      box-sizing: border-box;
      @include media(media,958){
        width: 66%;
        padding: 12px 0 10px;
      }
      @include media(media,767){
        width: 100%;
        margin-bottom: 20px;
      }
      @include media(media,479){
        margin-bottom: 7px;
      }
      blockquote {
        font-family: Minion;
        color: rgba(255,255,255,0.7);
        font-size: 24px;
        position: relative;
        display: inline-block;
        padding: 0 38px;
        margin: 5px 0;
        @include media(media,767){
          font-size: 22px;
          padding: 0 34px;
        }
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 26px;
          height: 20px;
          background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2025.96%2019.73%22%3E%3Ctitle%3Eicon_quote-open%3C/title%3E%3Cpath%20d%3D%22M351.4%2C654.39c-3.9%2C1.82-7%2C4.42-7.1%2C8-0.08%2C2.6%2C1.47%2C4%2C3.46%2C4.67a1.35%2C1.35%2C0%2C0%2C1%2C.87%2C1.47%2C3.61%2C3.61%2C0%2C0%2C1-3.63%2C3.37c-3%2C0-6.06-3-6-7.44%2C0.08-6.84%2C6.66-10.73%2C11.42-12.2Zm13.59%2C0c-3.9%2C1.82-6.92%2C4.42-7%2C8a4.51%2C4.51%2C0%2C0%2C0%2C3.37%2C4.67%2C1.31%2C1.31%2C0%2C0%2C1%2C1%2C1.47%2C3.67%2C3.67%2C0%2C0%2C1-3.63%2C3.46c-3%2C0-6.06-3.12-6-7.53%2C0.09-6.84%2C6.67-10.73%2C11.42-12.2Z%22%20transform%3D%22translate%28-339.03%20-652.23%29%22%20fill%3D%22%23f7f7f7%22/%3E%3C/svg%3E');
          background-repeat: no-repeat;
          opacity: 0.1;
        }
        &:after {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          width: 26px;
          height: 20px;
          background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2025.71%2020.1%22%3E%3Ctitle%3Eicon_quote-close%3C/title%3E%3Cpath%20d%3D%22M779.76%2C673.58c3.85-1.91%2C6.9-4.58%2C6.9-8.13%2C0-2.6-1.57-3.94-3.57-4.59a1.35%2C1.35%2C0%2C0%2C1-.9-1.45%2C3.61%2C3.61%2C0%2C0%2C1%2C3.55-3.46c3-.07%2C6.13%2C2.88%2C6.15%2C7.3%2C0.08%2C6.84-6.4%2C10.89-11.13%2C12.47Zm-13.59.33C770%2C672%2C773%2C669.33%2C773%2C665.78a4.51%2C4.51%2C0%2C0%2C0-3.49-4.59%2C1.31%2C1.31%2C0%2C0%2C1-1-1.45%2C3.67%2C3.67%2C0%2C0%2C1%2C3.55-3.55c3-.07%2C6.13%2C3%2C6.15%2C7.38%2C0.08%2C6.84-6.4%2C10.89-11.13%2C12.47Z%22%20transform%3D%22translate%28-766.17%20-655.95%29%22%20fill%3D%22%23f7f7f7%22/%3E%3C/svg%3E');
          background-repeat: no-repeat;
          opacity: 0.1;
        }
      }
    }
    &-partner {
      width: 26%;
      padding-left: 28px;
      box-sizing: border-box;
      border-width: 1px;
      border-color: rgba(255,255,255,0.1);
      border-style: none none none solid;
      display: flex;
      justify-content: space-between;
      @include media(media,958){
        width: 34%;
      }
      @include media(media,767){
        width: 100%;
        border-style: solid none none;
        padding: 20px 0 0;
      }
      a {
        opacity: 0.8;
      }
    }
  }
  &__copyright {
    background-color: rgba($link_copy,0.5);
    color: rgba(255,255,255,0.6);
    font-size: 13px;
    padding: 10px 0;
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include media(media,767){
        flex-direction: column-reverse;
        ul {margin-bottom: 8px}
      }
    }
    li {
      display: inline-block;
      padding-left: 10px;
      &:last-child {
        border-left: 1px solid rgba(255,255,255,0.25);
        margin-left: 10px;
      }
    }
  }
  &__bottom {
    background-color: $link_foot;
    color: #fff;
    .content {
      @include media(media,959){
        padding: 0 20px;
      }
    }

  }
}