@include fonts(icomoon,icomoon);

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico_mob-subarrow:before {
  content: "\e913";
}
.icon-ico_mob-arrow:before {
  content: "\e912";
}
.icon-ico_close:before {
  content: "\e911";
}
.icon-ico_slider-left:before {
  content: "\e90f";
}
.icon-ico_slider-right:before {
  content: "\e910";
}
.icon-ico_arrow:before {
  content: "\e90d";
}
.icon-ico_man:before {
  content: "\e90e";
}
.icon-share_inst:before {
  content: "\e900";
}
.icon-share_ytb:before {
  content: "\e901";
}
.icon-share_fb:before {
  content: "\e902";
}
.icon-share_lnk:before {
  content: "\e903";
}
.icon-share_mail:before {
  content: "\e904";
}
.icon-share_print:before {
  content: "\e905";
}
.icon-share_tw:before {
  content: "\e906";
}
.icon-nav_hcp:before {
  content: "\e907";
}
.icon-nav_involve:before {
  content: "\e908";
}
.icon-nav_manage:before {
  content: "\e909";
}
.icon-nav_research:before {
  content: "\e90a";
}
.icon-nav_suport:before {
  content: "\e90b";
}
.icon-nav_what:before {
  content: "\e90c";
}
