.view {
  position: absolute;
  top: 15px;
  right: 40px;
  i {
    display: inline-block;
    width: 36px;
    height: 36px;
    cursor: pointer;
    box-shadow: 0 1px 0 1px $border;
    background-color: #fff;
    @extend %boxSize;
    padding: 8px;
    margin: 0 5px;
    @include transit(all 0.3s);
    svg {
      fill: $darkbord;
      @include transit(all 0.3s);
    }
    &.active,
    &:hover {
      @include media(hover,1025){
        box-shadow: 0 1px 7px 1px $border;
        svg {
          fill: $link;
        }
      }
    }
  }
}

.catalog {
  &-bar {
    float: left;
    width: 250px;
    .drop-section {
      padding: 0 20px;
      margin-bottom: 35px;
    }
    .title {
      position: relative;
      font-size: 1.15rem;
      padding-right: 90px;
      margin-bottom: 1rem;
    }
    button {
      position: absolute;
      cursor: pointer;
      top: 0;
      right: 45px;
      font-weight: 300;
      font-size: 0.9rem;
      background-color: transparent;
      border: none;
      color: $border;
    }
    .arrow {
      position: absolute;
      cursor: pointer;
      top: 1px;
      right: 0;
      width: 30px;
      height: 20px;
      &:after,
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        width: 12px;
        height: 2px;
        background-color: #616161;
        margin-top: 4px;
        @include transit(all 0.3s);
      }
      &:after {
        right: 50%;
        -webkit-transform-origin:right center;
        -moz-transform-origin:right center;
        -ms-transform-origin:right center;
        -o-transform-origin:right center;
        transform-origin:right center;
        @include transform(rotate(41deg));

      }
      &:before {
        left: 50%;
        -webkit-transform-origin:left center;
        -moz-transform-origin:left center;
        -ms-transform-origin:left center;
        -o-transform-origin:left center;
        transform-origin:left center;
        @include transform(rotate(-41deg));
      }

      .sbToggle.sbToggleOpen:after,
      .sbToggle.sbToggleOpen:before{
        margin-top: -4px;
      }
      .sbToggle.sbToggleOpen:after{
        @include transform(rotate(-41deg));
      }
      .sbToggle.sbToggleOpen:before {
        @include transform(rotate(41deg));
      }
    }
  }
  &-list {
    margin-left: 250px;
  }
}

.machine-items {
  ul {
    font-size: 0;
    padding: 5px 15px;
    li {
      .incomes & { width: 20%; }
      .catalog-list[data-view="view_big"] & { width: 50%; }
      .catalog-list[data-view="view_small"] & { width: 25%; }
      display: inline-block;
      vertical-align: top;
      @extend %boxSize;
      padding: 10px;
      font-size: 1.1rem;
      & > div {
        position: relative;
        @include transit(all 0.3s);
        &:hover {
          @include media(hover,1025){
            @include boxShadow(0,8px,20px,0,rgba(162,174,191,0.6));
            @include translate(0,-10px);
          }
        }
      }
      a {
        @extend %fullBlock;
        background-color: #fff;
        color: #000;
        padding-bottom: 3.1rem;
        border-bottom: 1px solid $border;
        h4 {
          padding: 1.5rem 7%;
          font-weight: 500;
        }
      }
      figure {
        display: block;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        .incomes & { padding-top: 66.7%; }
        .catalog-list[data-view="view_big"] & { padding-top: 50%; }
        .catalog-list[data-view="view_small"] & { padding-top: 66.7%; }
      }
      button {
        position: absolute;
        bottom: 1.2rem;
        left: 7%;
        background-color: transparent;
        border: 1px solid $border;
        border-radius: 3px;
        padding: 5px 11px;
        font-weight: 300;
        font-size: 0.95rem;
        color: $text;
        @include transit(all 0.3s);
        &:hover {
          @include media(hover,1025){
            background-color: $border;
          }
        }
      }
    }
  }
}