.comments-box {
  padding: 20px 0;
  .home-page & {
    padding-top: 0;

  }

}
.one-comment {
  margin-bottom: 60px;
  &-author {
    float: left;
    width: 26%;
    @include media(media,767){
      width: 100%;
      margin-bottom: 30px;
      text-align: center;
    }
    .profile {
      img {
        display: block;
        width: 210px;
        height: auto;
        @include media(media,767){
          margin: 0 auto 10px;
        }
        & ~ .profile-content {
          .divider {
            opacity: 1;
            margin-bottom: 30px;
          }
        }
      }
      &-content {
        font-size: 1.2rem;
        line-height: 1.5;
      }
    }
  }
  &-main {
    float: left;
    width: 74%;
    @extend %boxSize;
    padding-left: 100px;
    padding-right: 40px;
    position: relative;
    @include media(media,767){
      width: 100%;
      padding-left: 0;
    }
    @include media(media,579){
      padding-right: 20px;
    }
    .querl {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      overflow: hidden;
      @include media(media,579){
        width: 20px;
        height: 20px;
      }
      &:after {
        content: "";
        width: 80px;
        height: 80px;
        position: absolute;
        background-color: $darklink;
        transform-origin: left top;
        top: 0;
        left: 0;
        @include transform(rotate(45deg));

      }
    }
  }
  &-text {
    color: #000;
    &:before {
      content: "";
      right: 100%;
      top: 140px;
      width: 0;
      height: 0;
      border-style: none solid solid;
      border-color: #fff transparent;
      border-width: 75px;
      position: absolute;
      transform-origin: right bottom;
      @include transform(rotate(45deg));
      @include media(media,767){
        top: auto;
        right: auto;
        bottom: 100%;
        left: 0;
        @include transform(rotate(135deg));
        border-width: 20px;
      }
    }
    &:after {
      content: "";
      left: 100%;
      width: 40px;
      top: 40px;
      bottom: 0;
      background-color: #fff;
      position: absolute;
      @include media(media,579){
        width: 20px;
        top: 20px;
      }
    }
    position: relative;
    background-color: #fff;
    @extend %boxSize;
    padding: 60px 20px 60px 60px;
    line-height: 1.6;
    font-weight: 300;
    @include media(media,1023){
      padding: 40px 20px 40px 40px;
    }
    @include media(media,579){
      padding: 30px 5px 30px 30px;
    }
    .comment-source {
      display: inline-block;
      margin-top: 30px;
      color: $link;
      img, span {
        display: inline-block;
        vertical-align: middle;
      }
      img {
        width: 40px;
        height: auto;
        margin-right: 10px;
      }
      &:hover {
        @include media(hover,1025){
          span {text-decoration: underline;}
        }
      }
    }
  }
}