/* =sign up */

.sign-up {
  max-width: 600px;
  padding:0 20px;
  margin: 3rem auto;
  form {
    width: 100%;
    fieldset {
      width: 100%;
      @extend %boxSize;
      border: 9px solid $border;
      @include boxShadow(0,5px,8px,0,rgba($shadow,0.4));
      border-radius: 40px;
      background-color: $bg;
      overflow: hidden;
      position: relative;
      input {
        border: medium none;
        @extend %boxSize;
        display: block;
        font-style: italic;
        line-height: 2.5rem;
        padding: 0 40% 0 1.1rem;
        width: 100%;
        border-radius: 40px;
      }
      button {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 2.5rem;
        padding: 0 1.1rem;
        font-size: 0.9rem;
        font-weight: 300;
        border-radius: 0 40px 40px 0;
      }
    }
  }
}

/* sign up */


/* =flex links */

.flex-links {
  padding: 2rem 0;
  &-cells {
    font-size: 0;
  }
  &-arrow {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    width: 33.3333%;
    text-transform: uppercase;
    font-family: PFDin_500;
    i,span {
      display: inline-block;
      vertical-align: middle;
    }
    i {
      width: 40px;
      height: 30px;
      margin-right: 5px;
    }
  }
  &-main {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.05rem;
    width: 66.66667%;
  }
  &-wrapper {
    display: table;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    a,button {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        left: 100%;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: $border;
        z-index: 1;
      }
      &:last-child {
        &:after {display: none}
      }
    }
  }
}

/* flex links */


/* =blog-box */

.blog-box {
  padding: 10px 30px;
  ul {
    overflow: hidden;
    li {
      width: 25%;
      float: left;
      @extend %boxSize;
      vertical-align: top;
      padding: 10px;
      & > div {
        width: 100%;
        padding-top: 100%;
        position: relative;
      }
      a {
        position: absolute;
        @extend %fullBlock;
        top: 0;
        left: 0;
        @extend %boxSize;
        padding: 40px;
        background: url("../images/border-h-dashed.png") 0 0 repeat-x,
        url("../images/border-v-dashed.png") 0 0 repeat-y,
        url("../images/border-h-dashed.png") 0 100% repeat-x,
        url("../images/border-v-dashed.png") 100% 0 repeat-y;
        @include boxShadowInset(0,0,0,1px,transparent,inset);
        time {
          font-family: PFDin_400;
          display: block;
          width: 80px;
          color: $text;
          font-size: 0.9rem;
          margin-bottom: 2.8rem;
          padding-bottom: 1rem;
          border-bottom: 3px solid $darklink;
          strong {
            display: block;
            font-weight: normal;
            font-size: 2.6rem;
            line-height: 0.8;
            margin-bottom: 3px;
          }
        }
        h4 {
          font-family: PFDin_500;
          font-size: 1.25rem;
          color: #000;
          @include transit(all 0.3s);
        }
        &:hover {
          @include media(hover,1025){
            @include boxShadowInset(0,0,0,1px,$link,inset);
            h4 {color: $link}
          }
        }
      }
    }
  }
}

/* blog-box */

/* =sharing */

.sharing {
  padding: 20px 0;
  ul {
    margin: 0 auto;
    text-align: center;
    li {
      display: inline-block;
      vertical-align: middle;
      border-right: 1px solid $border;
      &:last-child {border: none}
      a {
        display: block;
        color: $text;
        padding: 8px 17px;
        font-size: 1.1rem;
        font-weight: 100;
        i {
          display: inline-block;
          vertical-align: middle;
          font-size: 1.5rem;
          color: #a2aebf;
          margin-right: 12px;
          @include transit(all 0.3s);
        }
        span {
          display: inline-block;
          vertical-align: middle;
        }
        &:hover {
          @include media(hover,1025){
            i {color: $link}
          }
        }
      }
    }
  }
}

/* sharing */

/* =text block */

.text-block {
  padding: 40px 0;
  color: #000;
  line-height: 1.6;
  font-weight: 300;
  font-size: 1.04rem;
  h3 {
    font-family: PFDin_500;
    font-size: 1.7rem;
    margin-bottom: 1.3rem;
  }
  a {
    font-style: italic;
    color: $link;
    font-weight: 400;
    &:hover {
      @include media(hover,1025){
        text-decoration: underline;
      }
    }
  }
  p {
    margin-bottom: 20px;
    &:last-child {margin: 0}
  }
}

/* text block */

/* =pagination */

.pagination {
  margin: 40px 0;
  font-weight: 300;
  .catalog-list & {
    padding: 0 25px;
    margin-bottom: 60px;
  }
  a,span {
    float: left;
    line-height: 40px;
    @extend %boxSize;
    min-width: 40px;
    padding: 0 10px;
    text-align: center;
    color: $darkbord;
  }
  a {
    border: 1px solid $border;
    font-size: 1.8rem;
    &.next {border-radius: 0 3px 3px 0}
    &.prev {border-radius: 3px 0 0 3px}
    &:hover {
      @include media(hover,1025){
        background-color: $border;
      }
    }
  }
  span {
    font-size: 1.15rem;
  }
  .current {
    border-style: solid none;
    border-color: $border;
    border-width: 1px;
  }
}

/* pagination */

/* =opinion */

.expert-opinion {
  padding: 60px 0 40px;
  .opinion-wrap {
    font-size: 0;
    .profile {
      padding-top: 40px;
      display: inline-block;
      vertical-align: top;
      font-size: 1.05rem;
      width: 33.3333%;
      font-weight: 300;
      line-height: 1.6;
      &-content {
        width: 200px;
      }
      figure {
        display: block;
        width: 200px;
        position: relative;
        margin-bottom: 20px;
        img {
          display: block;
          width: 100%;
          height: auto;
        }
        i {
          bottom: 100%;
          height: 100px;
          left: 100%;
          margin: 0 0 -68px -60px;
          position: absolute;
          width: 120px;
        }
      }
    }
    article {
      display: inline-block;
      vertical-align: top;
      width: 66.66667%;
      blockquote {
        font-family: PFDin_400;
        color: $darklink;
        font-size: 1.7rem;
        line-height: 1.33;
        padding: 15px 0;
      }
    }
  }
}

/* opinion */

