.footer {
  background-color: $darklink;
  font-size: 0;
  color: #fff;
  &-slogan {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    width: 25%;
    text-align: center;
    @extend %boxSize;
    @include media(media,1023){
      float: left;
      margin: 40px 40px 20px;
    }
    @include media(media,767){
      margin: 40px 15px 15px;
    }
    @include media(media,579){
      float: none;
      display: block;
      width: 50%;
      margin: 0 auto;
      padding: 20px 0 0;
      display: none;
    }
    img {
      display: inline-block;
      width: 170px;
      height: 220px;
      @include media(media,767){
        width: 85px;
        height: 110px;
      }
    }
  }
  &-content {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    width: 75%;
    @extend %boxSize;
    padding: 70px 0 20px 20px;
    @include media(media,1200){
      padding-top: 40px;
    }
    @include media(media,1023){
      display: block;
      width: 100%;
    }
    @include media(media,579){
      padding: 30px 0;
    }
  }
  &-head {
    padding-right: 30%;
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.5rem;
    @include media(media,1200){
      margin-bottom: 40px;
      padding-right: 0;
      font-size: 1.8rem;
    }
    @include media(media,767){
      font-size: 1.3rem;
    }
    @include media(media,579){
      font-size: 1rem;
      margin-bottom: 2rem;
    }
  }
  &-nav {
    margin-bottom: 20px;
    clear: left;
    @include media(media,579){
      margin-bottom: 0;
    }
    & > ul {
      float: left;
      @extend %boxSize;
      position: relative;
      padding-right: 20px;
      width: 33.33%;
      padding-top: 35px;
      @include media(media,579){
        float: none;
        width: 100%;
        padding: 10px 0;
        text-align: center;
      }
      &:before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 20px;
        height: 1px;
        background-color: #2736a2;
      }
    }
    &-list {
      @include media(media,579){display: none}
      li {
        margin-bottom: 0.5rem;
      }
      a {
        color: #ffffff;
        font-size: 1.1rem;
        font-weight: 300;
        &:hover {
          @include media(hover,1025){
            text-decoration: underline;
          }
        }
        @include media(media,1200){
          font-size: 1rem;
        }
      }
    }
    &-contacts {
      li {
        font-size: 1.1rem;
        font-weight: 300;
        overflow: hidden;
        padding-left: 10px;
        margin-bottom: 20px;
        @include media(media,1200){
          font-size: 0.8rem;

        }
        @include media(media,579){
          padding-left: 0;
          font-size: 1.3rem;
          text-align: left;
          line-height: 1.6;
        }
        i {
          float: left;
          height: 32px;
          width: 32px;
          margin-right: 18px;
          @include media(media,1200){
            height: 25px;
            width: 25px;
            margin-right: 10px;
          }
          @include media(media,579){
            //float: none;
            display: block;
            margin: 0 20px 15px 0;
            height: 30px;
            width: 30px;
          }
        }
        p {
          margin-left: 50px;
          padding: 4px 0;
          @include media(media,1200){
            margin-left: 40px;
          }
          @include media(media,579){
            margin-left: 50px;
          }
        }
      }
      a {
        color: inherit;
        &:hover {
          @include media(hover,1025){
            text-decoration: underline;
          }
        }
      }
    }

  }
  &-copyright {
    margin-right: 20px;
    border-top: 1px solid #2736a2;
    font-weight: 100;
    color: $darkbord;
    font-size: 0.96rem;
    padding: 30px 0;
    a {
      color: inherit;
      &:hover {
        @include media(hover,1025){
          text-decoration: underline;
        }
      }
    }
    p {
      &:first-child {float: left}
      &:last-child {float: right}
      @include media(media,579){
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}