.searching {
  @include media(media,1023) {
    display: none;
  }
  fieldset {
    position: fixed;
    top: 15px;
    left: 250px;
    z-index: 15;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    @include boxShadow(0,0,4px,0,rgba(162,174,191,0.3));
    .label {
      position: absolute;
      top: 0;
      left: 0;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      cursor: pointer;
      z-index: 2;
      @extend %boxSize;
      padding: 10px;
      background-color: #fff;
    }
    button {
      position: absolute;
      width: 0;
      top: 0;
      line-height: 36px;
      border: none;
      overflow: hidden;
      cursor: pointer;
      z-index: 2;
      outline: none;
      @include transit(all 0.2s ease 0.1s);
      &[type="reset"]{
        right: 80px;
        width: 36px;
        height: 36px;
        background-color: transparent;
        @extend %boxSize;
        padding: 10px;
        opacity: 0;
        svg {
          fill: #9e9e9e;
        }
      }
      &[type="submit"]{
        right: 0;
        background-color: $link;
        color: transparent;
        border-radius: 0 25px 25px 0;
        text-align: center;
      }
    }
    input {
      background-color: transparent;
      border: medium none;
      border-radius: 25px;
      height: 36px;
      line-height: 36px;
      outline: medium none;
      padding: 0 7px;
      width: 36px;
      overflow: hidden;
      position: relative;
      z-index: 1;
      opacity: 0;
      @extend %boxSize;
      -webkit-transition: all 0.3s, opacity 0.1s ease 0.2s;
      -moz-transition: all 0.3s, opacity 0.1s ease 0.2s;
      -ms-transition: all 0.3s, opacity 0.1s ease 0.2s;
      -o-transition: all 0.3s, opacity 0.1s ease 0.2s;
      transition: all 0.3s, opacity 0.1s ease 0.2s;
    }

  }
  .bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    z-index: 14;
    @include transit(all 0.3s);
    @include translate(0,-100%);
    background: rgba(43,22,100,0.8);
    background: -moz-linear-gradient(top, rgba(43,22,100,0.8) 0%, rgba(43,22,100,0) 100%);
    background: -webkit-linear-gradient(top, rgba(43,22,100,0.8) 0%,rgba(43,22,100,0) 100%);
    background: linear-gradient(to bottom, rgba(43,22,100,0.8) 0%,rgba(43,22,100,0) 100%);
  }
  &.active {
    .bg {
      @include translate(0,0);
    }
    fieldset {
      input {
        width: 600px;
        padding: 0 107px 0 41px;
        opacity: 1;
      }
      button[type="submit"]{
        width: 80px;
        color: #fff;
      }
      button[type="reset"]{
        opacity: 1;
      }
      label {
        z-index: 0;
      }
    }
  }
}