#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  padding: 18px 0;
  @include transit(all 0.3s linear);
  &.wh {background-color: #fff}
  &.hidden {
    @include translate(0,-100%);
  }
  &.always_show {
    @include translate(0,0);
  }
  &:hover {
    @include media(hover,1025){
      background-color: #fff;
      @include boxShadow(0,1px,7px,0,rgba(0,0,0,0.2));

    }
  }
  @include media(media,1024){
    background-color: #fff;
    @include boxShadow(0,1px,7px,0,rgba(0,0,0,0.2));
    padding: 13px 0;
  }
  .logo {
    float: left;
    width: 170px;
    height: 37px;
    //.container_side & {display: none}
    @include media(media,1024){
      display: none;
    }
    a {
      @extend %fullBlock;
      background: transparent url("../images/svg/logo.svg") center center/100% 100% no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      white-space: nowrap;
      text-indent: 999px;
      overflow: hidden;
      font-size: 1px;
    }
    &_big {
      position: absolute;
      top: 0;
      height: 75px;
      width: 17%;
      left: 0;
      text-align: center;
      background-color: #fff;
      @extend %boxSize;
      padding: 12px 0;
      @include media(media,1600){
        padding: 16px 0;
      }
      @include media(media,1200){
        padding: 20px 0;
      }

      a {
        display: inline-block;
        height: 50px;
        width: 236px;
        background-image: url("../images/svg/logo-big.svg");
        @include media(media,1600){
          width: 200px; height: 43px;
        }
        @include media(media,1200){
          width: 160px; height: 34px;
        }
      }

    }
    &-mob {
      display: none;
      width: 160px; height: 34px;
      margin-right: 35px;
      vertical-align: middle;
      a {
        @extend %fullBlock;
        background: transparent url("../images/svg/logo-mob.svg") center center/100% 100% no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        white-space: nowrap;
        text-indent: 999px;
        overflow: hidden;
        font-size: 1px;
      }
      @include media(media,1024){
        display: inline-block;
      }
    }
  }
  .tel {
    float: right;
    color: inherit;
    margin: 10px 0;
    font-weight: 500;
    @include media(media,1024){
      display: inline-block;
      float: none;
      margin: 0;
      vertical-align: middle;
    }
    @include media(media,640){
      display: none;
    }
  }
  nav {
    text-align: center;
    margin: 0 17%;

    @include media(media,1024){
      display: none;
    }
    ul {
      padding: 8px 0;
      @include media(media,1680){
        font-size: 15px;
      }
      @include media(media,1400){
        font-size: 14px;
      }
      @include media(media,1200){
        font-size: 13px;
      }
    }
    li {
      display: inline-block;
      vertical-align: middle;
      font-weight: 300;
      margin: 0 30px;
      position: relative;
      @include media(media,1400){
        margin: 0 20px;
      }
      @include media(media,1200){
        margin: 0 10px;
      }
      .drop {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        @include transit(all 0.2s);
        top: 100%;
        left: -50px;
        right: -50px;
        padding-top: 28px;
        ul {
          padding: 0;
          background-color: $bg;
          //@include boxShadow(0,6px,15px,0,rgba($bord,0.15));
          @include boxShadow(0,6px,10px,-2px,rgba(0,0,0,0.2));
          li {
            display: block;
            margin: 0;
          }
          a {
            display: block;
            padding: 8px 10px 8px 20px;
            text-align: left;
            text-transform: none;
            font-size: 15px;
            &:hover {
              @include media(hover,1025){
                background-color: #fff;

              }
            }
          }
        }
      }

      &:hover {
        @include media(hover,1025){
          .drop {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    a,span {
      text-transform: uppercase;
      color: inherit;
      cursor: pointer;
      line-height: 21px;
      &:hover {
        @include media(hover,1025){
          color: $link;
        }
      }
      &.active {color: $link;}
    }
  }
  .burger {
    position: absolute;
    width: 34px;
    height: 28px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
    @include transit(all 0.4s);
    cursor: pointer;
    display: none;
    @include media(media,1024){
      display: block;
    }
    div {
      @include transit(all 0.4s);
      position: absolute;
      height: 3px;
      width: 34px;
      top: 13px;
      background-color: $darklink;
      &:before{
        @include transit(all 0.4s);
        position: absolute;
        width: 34px;
        height: 3px;
        background-color: $darklink;
        content: "";
        top: -11px;
      }
      &:after{
        @include transit(all 0.4s);
        position: absolute;
        width: 34px;
        height: 3px;
        background-color: $darklink;
        content: "";
        top: 11px;
      }
    }
    &.close {
      div {
        @include transit(all 0.4s);
        background: transparent;
        &:before{
          @include transform(rotateZ(45deg) scaleX(1.12) translate(7px, 7px));
        }
        &:after{
          @include transform(rotateZ(-45deg) scaleX(1.12) translate(8px, -8px));

        }
      }
    }

  }
}