.section_bottom { .fp-tableCell {vertical-align: bottom} }
.section_top { .fp-tableCell {vertical-align: top} }


.video {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  @include media(hover,1024) {
    left: 199px;
  }
  @include media(media,767){
    display: none;
  }
  div {
    @extend %fullBlock;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    video {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      left: 50%;
      top: 50%;
      @include translate(-50%, -50%);
    }
    figcaption {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.home-page {

  h1 {
    color: #fff;
    font-size: 3.8rem;
    margin-bottom: 1.6rem;
    padding-right: 20%;
    a {
      color: inherit;
      &:hover {
        @include media(hover,1025){
          text-decoration: underline;
        }
      }
    }
    @include media(media,1023){
      padding-top: 30px;
      padding-right: 0;
    }
    @include media(media,767){
      padding-top: 80px;
      font-size: 3.3rem;
    }
    @include media(media,579){
      padding-top: 50px;
      font-size: 2.5rem;
    }
  }
  h2 {
    font-family: PFDin_300;
    font-size: 2.8rem;
    text-align: center;
    padding-top: 4.2rem;
    margin: 0 0 3.3rem;
    @include media(media,767){
      padding-top: 1rem;
      font-size: 2.5rem;
    }
    @include media(media,579){
      font-size: 2rem;
      padding-top: 2rem;
      margin-bottom: 1rem;
    }
  }
  .section__01 {
    @include media(hover,768){
      background: none !important;
    }

  }
  @include media(media,1023){
    .fp-scrollable {
      //overflow: visible;
    }
    .fp-scroller {
      padding-top: 35px;
    }
    .iScrollVerticalScrollbar {
      display: none;
    }
  }
  @include media(media,767){
    height: auto !important;
    .fp-scrollable,
    .fp-section,
    .fp-tableCell {
      height: auto !important;
      display: block;
    }
    .section__01 {
      padding: 60px 0;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .section__02 {
      .fp-scroller {
        padding-top: 0;
      }
    }

  }
}
.fp-section {
  .fp-tableCell,
  .fp-scroller,
  .fp-scrollable {
    background: inherit;
    background-image: none;
  }
}

.search-tech {
  padding: 0.8rem 0;
  @include media(media,579){
    display: none;
  }
  form {
    font-size: 0;
    fieldset {
      display: inline-block;
      vertical-align: top;
      width: 265px;
      font-size: 1rem;
      border-right: 1px solid $darkbord;
      @include media(media,1200){
        width: 230px;
      }
      @include media(media,767){
        width: 50%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &:last-child {
          width: 100%;
        }
      }
      &:last-child {
        border: none;
      }
      button {
        display: block;
        width: 100%;
        border: none;
        border-radius: 0;
        background-color: $link;
        color: #fff;
        text-align: center;
        line-height: 60px;
        @include transit(all 0.3s);
        @include media(media,1200){
          line-height: 50px;
        }
        &:hover {
          @include media(hover,1025){
            background-color: $linkhover;
          }
        }
      }
    }
  }
  .btn {
    width: 265px;
    font-size: 1rem;
    line-height: 60px;
    padding: 0;
    display: block;
  }
}

.machine-list {
  background-color: #fff;
  width: 100%;
  height: 50%;
  @extend %boxSize;
  @include media(media,1023){
    height: 100%;
    padding-top: 62px;
  }
  @include media(media,767){
    padding-top: 0;
  }
  ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
    li {
      float: left;
      width: 25%;
      height: 50%;
      @extend %boxSize;
      position: relative;
      border-style: solid;
      border-color: $border;
      border-width: 0 0 1px 1px;
      @include media(media,1023){
        width: 50%;
        height: 25%;
      }
      @include media(media,767){
        height: 160px;
      }
      a {
        display: block;
        height: 100%;
        width: 100%;
        position: relative;
        @include media(media,1400){
          display: table;
        }
        figure {
          display: block;
          text-align: center;
          vertical-align: middle;
          height: 100%;
          @include media(media,1400){
            display: table-cell;
          }
          .figure {
            display: inline-block;
            position: relative;
            height: 70%;
            margin-top: 3%;
            @include media(media,1400){
              width: 80%;
              height: auto;
            }
            img {
              display: block;
              height: 100%;
              width: auto;
              @include transit(all 0.3s);
              @include media(media,1400){
                height: auto;
                width: 100%;
              }
            }
          }
        }
        .onhover {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
        }
        figcaption {
          text-transform: uppercase;
          padding: 0 15px;
          text-align: center;
          color: #000;
          font-family: PFDin_500;
          font-size: 1.18rem;
          @include media(media,1200){
            font-size: 1rem;
          }
        }
        &:hover {
          @include media(hover,1025){
            z-index: 2;
            @include boxShadow(0,0,30px,0,rgba(162,174,191,1));
            .onhover {
              opacity: 1;
            }
          }
        }

      }
    }
  }
}

.incomes {
  .home-page & {
    padding: 0 0 1rem;
    @include media(media,579){
      padding-bottom: 30px;
    }
  }
  .page & {
    padding: 3rem 0 1rem;
  }
}

.vacancies {
  .home-page & {
    padding: 4.2rem 0 1rem;
    @include media(media,579){
      padding: 2rem 0 0;
    }
  }
  &-box {
    font-size: 0;
    .title {
      display: inline-block;
      width: 33.3333%;
      vertical-align: top;
      font-family: PFDin_300;
      font-size: 1.7rem;
      @include media(media,579){
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
      }
    }
    .drops {
      display: inline-block;
      width: 66.6667%;
      vertical-align: top;
      font-size: 0.9rem;
      @include media(media,579){
        display: block;
        width: 100%;

      }
    }

  }
}

.causes {
  padding: 120px 0;
  @include media(media,1023){
    padding: 90px 0;
  }
  @include media(media,579){
    padding: 30px 0;
  }
  &-wrap {
    .question {
      float: left;
      width: 25%;
      @extend %boxSize;
      font-family: PFDin_300;
      font-size: 1.7rem;
      line-height: 1.4;
      padding: 50px 20px 50px 0;
      background: transparent url("../images/question-sign.png") center 0/auto 100% no-repeat;
      @include media(media,1023){
        width: 100%;
        margin-bottom: 60px;
        text-align: center;
        padding-right: 0;
      }
    }
    ul {
      &.width_75 {
        width: 75%;
        @include media(media,1023){
          width: 100%;
        }
      }
      &.width_100 {width: 100%;}
      float: left;
      counter-reset: cause;
      li {
        float: left;
        @extend %boxSize;
        position: relative;
        padding: 110px 20px 0 0;
        color: #000;
        font-weight: 300;
        line-height: 1.5;
        font-size: 1.05rem;
        @include media(media,1200){
          padding-top: 90px;
        }

        &:before {
          content: counter(cause, decimal);
          counter-increment: cause;
          position: absolute;
          top: 0;
          left: 0;
          text-align: center;

          color: #fff;
          font-family: PFDin_400;
          font-size: 1.8rem;
        }
        h5 {
          font-family: PFDin_500;
          font-size: 1.5rem;
          margin-bottom: 10px;
        }
      }
      &.circles {
        li {
          &:before {
            width: 60px;
            height: 60px;
            line-height: 60px;
            border-radius: 50%;
            @include media(media,579){
              right: 0;
              margin: auto;
            }
          }
        }
      }
      &.squares {
        li {
          &:before {
            width: 65px;
            height: 65px;
            line-height: 65px;
            @include media(media,579){
              right: 0;
              margin: auto;
            }
          }
          &:after {
            content: "";
            position: absolute;
            top: 65px;
            left: 5px;
            width: 0;
            height: 0;
            border-style: none solid solid;
            border-width: 10px;
            border-left-color: transparent;
            border-right-color: transparent;
            -webkit-transform-origin:center top;
            -moz-transform-origin:center top;
            -ms-transform-origin:center top;
            -o-transform-origin:center top;
            transform-origin:center top;
            @include transform(rotate(-45deg));
            @include media(media,579){
              left: auto;
              right: 50%;
            }
          }
        }
      }
      &.count_3 {
        li {
          width: 33.3333%;
          &:nth-child(1){
            &:before {background-color: $link}
            &:after {border-bottom-color: $link}
          }
          &:nth-child(2){
            &:before {background-color: #282f92}
            &:after {border-bottom-color: #282f92}
          }
          &:nth-child(3){
            &:before {background-color: $header}
            &:after {border-bottom-color: $header}
          }
          @include media(media,579){
            width: 100%;
            margin-bottom: 20px;
            text-align: center;
            padding-right: 0;
          }
        }
      }
      &.count_4 {
        li {
          width: 25%;
          &:nth-child(1){
            &:before {background-color: $link}
            &:after {border-bottom-color: $link}
          }
          &:nth-child(2){
            &:before {background-color: $link}
            &:after {border-bottom-color: $link}
          }
          &:nth-child(3){
            &:before {background-color: #282f92}
            &:after {border-bottom-color: #282f92}
          }
          &:nth-child(4){
            &:before {background-color: $header}
            &:after {border-bottom-color: $header}
          }
          @include media(media,579){
            width: 100%;
            margin-bottom: 20px;
            text-align: center;
            padding-right: 0;
          }
        }

      }
    }
    figure {
      float: left;
      width: 75%;
      padding-top: 12%;
      position: relative;
      margin-bottom: 370px;
      @include media(media,1023){
        width: 100%;
        padding-top: 0;
        margin-bottom: 30px;
        text-align: center;
      }
      img {
        position: absolute;
        width: 100%;
        top: 50%;
        @include translate(0,-50%);
        @include media(media,1023){
          display: inline-block;
          width: 70%;
          height: auto;
          top: 0;
          position: relative;
          @include translate(0,-15%);
        }
        @include media(media,579){
          width: 100%;
        }
      }
    }
  }
}

.dependence {
  padding-bottom: 100px;
  @include media(media,579){
    padding-bottom: 30px;
  }
  &-contact {
    padding-bottom: 50px;
    @include media(media,579){
      padding-bottom: 15px;
    }
  }
  &-wrap {
    font-size: 0;
    &-text {
      display: inline-block;
      width: 50%;
      vertical-align: middle;
      font-size: 1.65rem;
      font-family: PFDin_400;
      color: $darklink;
      @extend %boxSize;
      padding-right: 40px;
      .btn-grey {
        border: 1px solid $border;
        font-size: 1rem;
        font-weight: 400;
        padding: 10px 15px;
        background-color: transparent;
        color: $shadow;
        margin-top: 30px;
        &:hover {
          @include media(hover,1025){
            background-color: $shadow;
            color: #fff;
            border-color: $shadow;
          }
        }
      }
      @include media(media,579){
        width: 100%;
        display: block;
        padding-right: 0;
        margin-bottom: 30px;
      }
    }
    &-pics {
      display: inline-block;
      width: 50%;
      vertical-align: middle;
      font-size: 1rem;
      li {
        float: left;
        width: 33.3333%;
        @extend %boxSize;
        @include media(media,579){
          width: 50%;
        }
        a {
          padding-top: 100%;
          position: relative;
          display: block;
          width: 100%;
          figure {
            position: absolute;
            top: 5px;
            right: 5px;
            left: 5px;
            bottom: 5px;
            margin: auto;
            img {
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
              bottom: 0;
              margin: auto;
              max-height: 100%;
              max-width: 100%;
              height: auto;
              width: auto;
            }
          }
        }
      }
      @include media(media,579){
        width: 100%;
        display: block;
        overflow: hidden;
      }
    }
  }
}

.responsibilities {
  &-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    @include media(media,767){
      display: block;
      text-align: center;
    }
    li {
      width: 265px;
      color: #000;
      line-height: 1.5;
      font-size: 1.05rem;
      font-weight: 300;
      @include media(media,1400){
        width: 23%;
      }
      @include media(media,767){
        width: 46%;
        margin: 0 1% 30px;
        display: inline-block;
      }
      @include media(media,579){
        width: 100%;
        margin: 0 0 30px;
        display: block;
      }
      figure {
        position: relative;
        width: 100%;
        padding-top: 66.6666%;
        background-color: $bg;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        overflow: hidden;
        margin-bottom: 30px;
        @include media(media,767){
          margin-bottom: 10px;
        }
        .querl {
          position: absolute;
          top: 0;
          right: 0;
          width: 40px;
          height: 40px;
          overflow: hidden;
          background-color: #fff;
          &:after {
            content: "";
            width: 80px;
            height: 80px;
            position: absolute;
            background-color: $darklink;
            -webkit-transform-origin:left top;
            -moz-transform-origin:left top;
            -ms-transform-origin:left top;
            -o-transform-origin:left top;
            transform-origin:left top;
            top: 0;
            left: 0;
            @include transform(rotate(45deg));
          }
        }
      }
      h5 {
        font-family: PFDin_500;
        font-size: 1.45rem;
        margin-bottom: 10px;
      }
    }
  }
}

.about-box {
  padding-top: 80px;
  @include media(media,767){
    padding-top: 40px;
  }
  &-wrap {
    background-color: $darklink;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    &.halfbg {
      position: relative;
      .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-position: 0 0;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 0;
      }
      & > .content {
        position: relative;
        z-index: 1;
      }
    }
  }
  &-content {
    padding-bottom: 100px;
    @include media(media,1023){
      padding-top: 30px;
    }
    .small-box & {padding-bottom: 50px}
    .profile {
      margin-top: -60px;
      width: 340px;
      float: left;
      background-color: #fff;
      color: #212121;
      @include media(media,1023){
        float: none;
        width: 100%;
        font-size: 0;
        margin-top: 0;
      }
      img {
        display: block;
        width: 100%;
        height: auto;
        @include media(media,1023){
          display: inline-block;
          width: 50%;
          vertical-align: middle;
        }
        @include media(media,579){
          display: block;
          width: 100%;
        }
      }
      &-content {
        background-color: #fff;
        padding: 0 40px 40px;
        font-size: 0.9rem;
        @include media(media,1023){
          display: inline-block;
          width: 50%;
          vertical-align: middle;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
        @include media(media,579){
          display: block;
          width: 100%;
          padding: 20px;
        }
        h5 {
          font-size: 1.2rem;
          line-height: 1.5;
          margin-bottom: 1.6rem;
          &:last-child {margin-bottom: 0}
        }
        p {
          line-height: 1.5;
          min-height: 1.3rem;
        }
        a {
          color: inherit;
          &:hover {
            @include media(hover,1025){
              color: $link;
            }
          }
        }
      }
    }
    article {
      color: #fff;
      margin-left: 390px;
      padding: 80px 10px 20px;
      font-family: "PFDin_400";
      font-size: 1.68rem;
      line-height: 1.4;
      @include media(media,1023){
        margin-left: 0;
        padding-top: 40px;
      }
      @include media(media,579){
        font-size: 1.3rem;
        padding: 30px 0 0;
      }
      h3 {
        font-size: 3.5rem;
        margin-bottom: 4rem;
        @include media(media,579){
          font-size: 2rem;
          margin-bottom: 2rem;
        }
      }
      p {
        margin-bottom: 3.5rem;
      }
      a {
        display: inline-block;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 0.3rem 2.4rem;
        font-size: 1.2rem;
        font-family: PFDin_100;
        &:hover {
          @include media(hover,1025){
            color: $darklink;
            background-color: #fff;
          }
        }
      }
    }
  }
}