.section_bottom { .fp-tableCell {vertical-align: bottom} }
.section_top { .fp-tableCell {vertical-align: top} }


.video {
  position: fixed;
  top: 0;
  right: 0;
  left: 199px;
  bottom: 0;
  z-index: 1;
  div {
    @extend %fullBlock;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    video {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      left: 50%;
      top: 50%;
      @include translate(-50%, -50%);
    }
  }
}

.home-page {
  h1 {
    color: #fff;
    font-size: 3.8rem;
    margin-bottom: 1.6rem;
    padding-right: 20%;
    a {
      color: inherit;
      &:hover {
        @include media(hover,1025){
          text-decoration: underline;
        }
      }
    }
  }
  h2 {
    font-family: PFDin_300;
    font-size: 2.8rem;
    text-align: center;
    padding-top: 4.2rem;
    margin: 0 0 3.3rem;
  }

}

.search-tech {
  padding: 0.8rem 0;
  form {
    font-size: 0;
    fieldset {
      display: inline-block;
      vertical-align: top;
      width: 265px;
      font-size: 1rem;
      border-right: 1px solid $darkbord;
      &:last-child {
        border: none;
      }
      button {
        display: block;
        width: 100%;
        border: none;
        border-radius: 0;
        background-color: $link;
        color: #fff;
        text-align: center;
        line-height: 60px;
        @include transit(all 0.3s);
        &:hover {
          @include media(hover,1025){
            background-color: $linkhover;
          }
        }
      }
    }
  }
  .btn {
    width: 265px;
    font-size: 1rem;
    line-height: 60px;
    padding: 0;
    display: block;
  }
}

.machine-list {
  background-color: #fff;
  width: 100%;
  height: 50%;
  ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
    li {
      float: left;
      width: 25%;
      height: 50%;
      @extend %boxSize;
      position: relative;
      border-style: solid;
      border-color: $border;
      border-width: 0 0 1px 1px;
      a {
        display: table;
        height: 100%;
        width: 100%;
        figure {
          display: table-cell;
          vertical-align: middle;
          height: 100%;
        }
        img {
          height: 65%;
          display: block;
          margin: 0 auto 5px;
          width: auto;
          @include transit(all 0.3s);
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          -o-filter: grayscale(100%);
          filter: grayscale(100%);
        }
        figcaption {
          text-transform: uppercase;
          padding: 0 15px;
          text-align: center;
          color: #000;
          font-family: PFDin_500;
          font-size: 1.18rem;
        }
        &:hover {
          @include media(hover,1025){
            @include boxShadow(0,0,30px,0,rgba(162,174,191,1));
            img {
              -webkit-filter: grayscale(0);
              -moz-filter: grayscale(0);
              -o-filter: grayscale(0);
              filter: grayscale(0);
            }
          }
        }
      }
    }
  }
}

.incomes {
  .home-page & {
    padding: 0 0 1rem;

  }
  .page & {
    padding: 3rem 0 1rem;
  }
}

.vacancies {
  .home-page & {
    padding: 4.2rem 0 1rem;
  }
  &-box {
    font-size: 0;
    .title {
      display: inline-block;
      width: 33.3333%;
      vertical-align: top;
      font-family: PFDin_300;
      font-size: 1.7rem;
    }
    .drops {
      display: inline-block;
      width: 66.6667%;
      vertical-align: top;
      font-size: 0.9rem;
    }

  }
}

.causes {
  padding: 120px 0;
  &-wrap {
    .question {
      float: left;
      width: 25%;
      @extend %boxSize;
      font-family: PFDin_300;
      font-size: 1.7rem;
      line-height: 1.4;
      padding: 50px 0;
      background: transparent url("../images/question-sign.png") center 0/auto 100% no-repeat;
    }
    ul {
      float: left;
      width: 75%;
      counter-reset: cause;
      li {
        float: left;
        width: 33.3333%;
        @extend %boxSize;
        position: relative;
        padding: 110px 20px 0 0;
        color: #000;
        font-weight: 300;
        line-height: 1.5;
        font-size: 1.05rem;
        &:before {
          content: counter(cause, decimal);
          counter-increment: cause;
          position: absolute;
          top: 0;
          left: 0;
          width: 65px;
          height: 65px;
          text-align: center;
          line-height: 65px;
          color: #fff;
          font-family: PFDin_400;
          font-size: 1.8rem;
        }
        &:after {
          content: "";
          position: absolute;
          top: 65px;
          left: 5px;
          width: 0;
          height: 0;
          border-style: none solid solid;
          border-width: 10px;
          border-left-color: transparent;
          border-right-color: transparent;
          transform-origin: center top;
          @include transform(rotate(-45deg));
        }
        &:nth-child(1){
          &:before {background-color: $link}
          &:after {border-bottom-color: $link}
        }
        &:nth-child(2){
          &:before {background-color: #282f92}
          &:after {border-bottom-color: #282f92}
        }
        &:nth-child(3){
          &:before {background-color: $header}
          &:after {border-bottom-color: $header}
        }
        h5 {
          font-family: PFDin_400;
          font-size: 1.5rem;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.responsibilities {
  &-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    li {
      width: 265px;
      color: #000;
      line-height: 1.5;
      font-size: 1.05rem;
      font-weight: 300;
      figure {
        position: relative;
        width: 100%;
        padding-top: 66.6666%;
        background-color: $bg;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        overflow: hidden;
        margin-bottom: 30px;
        .querl {
          position: absolute;
          top: 0;
          right: 0;
          width: 40px;
          height: 40px;
          overflow: hidden;
          background-color: #fff;
          &:after {
            content: "";
            width: 80px;
            height: 80px;
            position: absolute;
            background-color: $darklink;
            transform-origin: left top;
            top: 0;
            left: 0;
            @include transform(rotate(45deg));
          }
        }
      }
      h5 {
        font-family: PFDin_500;
        font-size: 1.45rem;
        margin-bottom: 10px;
      }
    }
  }
}

.about-box {
  padding-top: 80px;
  &-wrap {
    background-color: $header;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    &.halfbg {
      position: relative;
      .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-position: 0 0;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 0;
      }
      & > .content {
        position: relative;
        z-index: 1;
      }
    }
  }
  &-content {
    padding-bottom: 100px;
    .halfbg & {padding-bottom: 50px}
    .profile {
      margin-top: -60px;
      width: 340px;
      float: left;
      background-color: #fff;
      color: #212121;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      &-content {
        background-color: #fff;
        padding: 0 40px 40px;
        font-size: 0.9rem;
        h5 {
          font-size: 1.2rem;
          line-height: 1.5;
          margin-bottom: 1.6rem;
        }
        p {
          line-height: 1.5;
          min-height: 1.3rem;
        }
        a {
          color: inherit;
          &:hover {
            @include media(hover,1025){
              color: $link;
            }
          }
        }
      }
    }
    article {
      color: #fff;
      margin-left: 390px;
      padding: 80px 10px 20px;
      font-family: "PFDin_400";
      font-size: 1.68rem;
      line-height: 1.4;
      h3 {
        font-size: 3.5rem;
        margin-bottom: 4rem;
      }
      p {
        margin-bottom: 3.5rem;
      }
      a {
        display: inline-block;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 0.3rem 2.4rem;
        font-size: 1.2rem;
        font-family: PFDin_100;
        &:hover {
          @include media(hover,1025){
            border-color: $darklink;
            background-color: $darklink;
          }
        }
      }
    }
  }
}