
html {
  &.ovh {overflow: hidden !important;}
}
body {
  @extend html;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: $text;
}
body, input, textarea, button, select {font-family: 'Roboto', sans-serif;}
a {
  color: $link;
  @include transit(all 0.3s);
}
svg {@extend %fullBlock}
.container {
  &_home {
    height: 100%;
    background-color: $bg;

  }
}
.content {
  margin: 0 auto;
  @extend %boxSize;
  padding: 0 15px;
  &_lg {max-width: 1200px;}
  &_bg {max-width: 985px;}
  &_md {max-width: 930px;}
  &_sm {max-width: 830px;}
  &_xs {max-width: 640px;}
}
.btn {
  text-transform: uppercase;
  @extend %boxSize;
  color: #fff;
  font-size: 16px;
  background-color: $link;
  position: relative;
  border-radius: 0;
  text-align: center;
  font-family: PFDin_100;
  padding: 11px 0;
  border: none;
  @include transit(all 0.3s);
  span, i {
    display: inline-block;
    vertical-align: middle;
    svg, img {@extend %fullBlock;}
  }
  i {
    .callback & {
      width: 22px;
      height: 38px;
      margin-right: 6px;
    }
  }
  &:hover {
    @include media(hover,1025){

    }
  }
}

.bg__white {background-color: #fff}
.bg__def {background-color: $bg}


.hidden-in-mobile {
  @include media(media,1024){
    display: none !important;
  }
}
.hidden-in-smarts {
  @include media(media,640){
    display: none !important;
  }
}
.show-in-mobile {
  display: none;
  @include media(media,1024){
    display: block;
  }
}

#wrapper {
  padding-left: 200px;
}
.main {
  position: relative;
  z-index: 1;
}

/*-------- error page --------*/

.error-page {
  text-align: center;
  padding-bottom: 40px;
  .section__plaid {
    margin-top: 75px;
    overflow: hidden;
    padding: 75px 0 5px;
    position: relative;
    @include media(media,1024){
      margin-top: 60px;
      padding-top: 60px;
    }
    @include media(media,640){
      padding-top: 40px;
    }
  }
  &_text {
    text-align: center;
    font-size: 250px;
    //color: $darklink;
    font-weight: 100;

    margin-bottom: 40px;
    line-height: 1;
    @include media(media,640){
      font-size: 175px;
    }
    span {
      vertical-align: middle;
      display: inline-block;
      position: relative;
      margin: 0 -25px;
      @include media(media,640){
        margin: 0 -22px;
      }
      i {
        bottom: 47px;
        height: 72px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: 60px;
        @include media(media,640){
          bottom: 30px;
          height: 55px;
          width: 45px;
        }
        svg {
          @extend %fullBlock;
        }
      }
    }
  }
}
