
html {
  font-size: 16px;
  &.ovh {overflow: hidden !important;}
  @include media(media,1400){
    font-size: 15px;
  }
}
body {
  font-family: 'Roboto', sans-serif;
  color: $text;
}
body, input, textarea, button, select {font-family: 'Roboto', sans-serif;}
a {
  color: $link;
  @include transit(all 0.3s);
}
br {
  @include media(media,1200){
    display: none;
  }
}
svg {@extend %fullBlock}
.container {
  &_home {
    height: 100%;
    background-color: $bg;
  }
  &_page {
    background-color: $bg;
  }
}
.content {
  margin: 0 auto;
  @extend %boxSize;
  padding: 0 15px;
  &_lg {
    max-width: 1200px;
    @include media(media,1400){
      max-width: 1000px;
    }
    @include media(media,1200){
      padding: 0 30px;
    }
    @include media(media,579){
      padding: 0 20px;
    }
  }
  &_bg {
    max-width: 1100px;
    padding: 0 100px;
    @include media(media,1400){
      padding: 0 30px;
    }
    @include media(media,579){
      padding: 0 20px;
    }
  }
  &_md {
    max-width: 930px;
    @include media(media,1200){
      padding: 0 30px;
    }
    @include media(media,579){
      padding: 0 20px;
      .content & {
        padding: 0;
      }
    }
  }
  &_sm {
    max-width: 830px;
    @include media(media,1023){
      padding: 0 30px;
    }
    @include media(media,579){
      padding: 0 20px;
    }
  }
  &_xs {
    max-width: 640px;
    @include media(media,1023){
      padding: 0 30px;
    }
    @include media(media,579){
      padding: 0 20px;
    }
  }
}
.btn {
  text-transform: uppercase;
  @extend %boxSize;
  color: #fff;
  font-size: 16px;
  background-color: $link;
  position: relative;
  border-radius: 0;
  text-align: center;
  font-family: PFDin_100;
  padding: 18px 10px;
  border: none;
  @include transit(all 0.3s);
  .gradient & {
    background-color: transparent;
  }
  span, i {
    display: inline-block;
    vertical-align: middle;
    svg, img {@extend %fullBlock;}
  }
  i {
    .flex-links &,
    .callback & {
      width: 22px;
      height: 38px;
      margin-right: 6px;
    }
  }
  &:hover {
    @include media(hover,1025){
      background-color: $linkhover;
      .gradient & {
        background-color: rgba($darklink,0.5);
      }
    }
  }
  &-field {
    text-align: center;
    .btn {
      display: inline-block;
      min-width: 180px;
    }
  }
  &-grey {
    background-color: $darkbord;
    color: #fff;
    display: inline-block;
    text-transform: none;
    font-weight: 300;
    font-family: Roboto,sans-serif;
    padding: 10px 25px;
    border-radius: 5px;
    &:hover {
      @include media(hover,1025){
        background-color: $shadow;

      }
    }
  }
}

.bg__white {background-color: #fff}
.bg__def {background-color: $bg}
.bg__triangle {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  padding-bottom: 8rem;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 300%;
    background-color: #fff;
    transform-origin: top right;
    @include transform(rotate(60deg));
  }
  & > * {position: relative; z-index: 1}
}
.bg__halfbg {
  & > * {position: relative; z-index: 1}
  .halfbg {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @include media(media,579){
      display: none;
    }
    &.fixed {
      background-attachment: fixed;
    }
  }
}
.gradient {
  color: #fff;
  background: $link;
  background: -moz-linear-gradient(left, $link 0%, $darklink 100%);
  background: -webkit-linear-gradient(left, $link 0%,$darklink 100%);
  background: linear-gradient(to right, $link 0%,$darklink 100%);
  @include transit(all 0.3s);
  &_alone {
    &:hover {
      @include media(hover,1025){
        @include boxShadowInset(0,0,0,100px,rgba($darklink,0.5),inset);
      }
    }
  }
}
button[type="submit"].gradient {@extend .gradient};


.hidden-in-smarts {
  @include media(media,767){
    display: none !important;
  }
}
.hidden-in-mobile {
  @include media(media,579){
    display: none !important;
  }
}
.show-in-smarts {
  display: none;
  @include media(media,767){
    display: block;
  }
}
.show-in-mobile {
  display: none;
  @include media(media,579){
    display: block;
  }
}


#wrapper {

  @include media(hover,1024) {
    padding-left: 200px;
  }
}
.main {
  position: relative;
  z-index: 1;
  .has-mobile-padding {
    @include media(media,579){
      padding: 30px 0 20px;
    }
  }
}
.divider {
  height: 0.8rem;
  position: relative;
  &_offer {
    margin: 1.6rem 0;
    width: 7%;
    @include media(media,767){
      width: 100px;
    }
  }
  .profile-content & {
    margin: -0.4rem 0 1.5rem;
    @include media(media,767){
      display: none;
    }
    .one-comment-author & {
      height: 0.6rem;
      width: 130px;
      opacity: 0;
      margin: -0.3rem 40px 100px;
    }
  }
}

/*-------- page --------*/

.page {
  padding-top: 65px;
  position: relative;
  @include media(media,1023){
    padding-top: 100px;
  }
  &.full_margin {
    padding-top: 1px;
    position: relative;
    z-index: 1;
    & ~ .footer {
      position: relative;
      z-index: 1;
    }
    &.simple {
      padding-top: 105px;
    }
    @include media(media,767){
      margin-top: 0 !important;
      .adverse_margin {
        margin-top: 0 !important;
        padding-top: 100px;
      }
    }
  }
  h1 {
    text-align: center;
    font-family: PFDin_100;
    color: $header;
    font-size: 3.65rem;
    margin-bottom: 3rem;
    @include media(media,1023){
      font-size: 3.2rem;
      margin-bottom: 2rem;
    }
    @include media(media,579){
      font-size: 2.5rem;

    }
  }
  h2 {
    font-family: PFDin_400;
    font-size: 1.24rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;
  }
  .big-logo {
    h2 {
      font-family: PFDin_300;
      font-size: 2.8rem;
      text-align: center;
      padding-top: 4.2rem;
      margin: 0 0 3.3rem;
      text-transform: none;
      @include media(media,579){
        font-size: 2rem;
        padding-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
}



/*-------- error page --------*/

.error-page {
  text-align: center;
  h1 {
    padding: 3rem 1rem 1rem;
    font-family: PFDin_500;
    line-height: 1;
    font-size: 17rem;
    @include media(media,1023){
      font-size: 12rem;
    }
    @include media(media,579){
      font-size: 8rem;
    }
  }
  h2 {
    font-family: PFDin_500;
    line-height: 1;
    font-size: 3rem;
    margin-bottom: 10rem;
    @include media(media,1023){
      font-size: 2rem;
    }
    @include media(media,579){
      font-size: 1.5rem;
      line-height: 1.3;
    }
  }
}
