#mobile-nav {
  display: none;
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 50%;
  z-index: 14;
  padding-top: 60px;
  @extend %boxSize;
  @include transit(all 0.4s);
  @include translate(100%,0);
  @include boxShadow(-1px,0,7px,0,rgba(0,0,0,0.2));

}