@-webkit-keyframes load3 {
  0% { -webkit-transform: rotate(0deg);}
  100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes load3 {
  0% { -moz-transform: rotate(0deg);}
  100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes load3 {
  0% { -o-transform: rotate(0deg);}
  100% { -o-transform: rotate(360deg);}
}
@keyframes load3 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background-color: $bg;
  .loader-wrap {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 0 auto;

    svg {
      position: absolute;
      height: 150px;
      width: 150px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  .loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    left: 2px;
    bottom: 6px;
    margin: auto;
    @include animation(load3 1.4s infinite linear);
    @include transform(translateZ(0));
    &:before {
      width: 16px;
      height: 16px;
      background-color: #56698f;
      border-radius: 50%;
      position: absolute;
      top: 28px;
      left: 0;
      content: '';
    }

  }
}