#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 12;
  width: 17%;
  background-color: #fff;
  @include media(media,1024){
    display: none;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
    height: 75px;
    background-color: #fff;
    a {
      @extend %fullBlock;
      @extend %boxSize;
      padding: 12px 10px;
    }
    figure {
      display: inline-block;
      vertical-align: middle;
      width: 224px;
      height: 50px;
    }
    i {
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 60px;
    }
    img {
      @extend %fullBlock;
    }

  }
  .aside-wrap {
    @extend %fullBlock;
    @extend %boxSize;
    padding-bottom: 75px;
    position: relative;
    @include transit(all 0.3s linear);
    &.lowered {
      @include translate(0,80px);
    }
    .up {
      cursor: pointer;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 75px;
      text-align: center;
      line-height: 75px;
      @extend %boxSize;
      padding: 0 15px;
      text-transform: uppercase;
      background-color: #e6e8ed;
      color: $darklink;
      @include transit(all 0.3s);
      &:hover {
        @include media(hover,1025){
          background-color: #bbb;
        }
      }
    }
    nav {
      @extend %fullBlock;
      ul {
        @extend %fullBlock;
      }
      li {
        width: 100%;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          top: 100%;
          right: 20%;
          left: 20%;
          height: 1px;
          background-color: $grey;
        }
      }
      &[data-menu='2']{ li { height: 50%; } }
      &[data-menu='3']{ li { height: 33.3333%; } }
      &[data-menu='4']{ li { height: 25%; } }
      &.minimal {
        overflow: hidden;
        @extend %boxSize;
        .mCSB_container {display: table; height: 100%}
        ul {
          display: table-cell;
          vertical-align: middle;
          padding: 5px 0;
        }
        li {
          &:before {display: none}
          white-space: nowrap;
          a {
            text-align: left;
            padding: 15px 12%;
            text-transform: none;
            @extend %boxSize;
            &:after {
              content: "";
              display: inline-block;
              vertical-align: middle;
              width: 0;
              height: 42px;
            }
          }
          h5 {
            white-space: normal;
            padding: 0;
            display: inline-block;
            vertical-align: middle;
            min-height: 20px;
          }
        }
      }
      a {
        @extend %fullBlock;
        position: relative;
        text-align: center;
        color: inherit;
        text-transform: uppercase;

        i {
          display: block;
          height: 86px;
          margin: 0 auto 8px;
          width: 86px;
          @extend %icon_start;
          svg {
            @extend %fullBlock;
          }
        }
        &.active {
          color: $link;
          @extend %icon_active;
        }
        h5 {
          font-size: 16px;
          padding: 0 20%;
          font-weight: 300;
        }
        &:hover {
          z-index: 5;
          color: $link;
          @extend %icon_hover;
          @include boxShadow(1px,0,11px,0,rgba(0,0,0,0.2));
        }
      }
    }
  }
}