.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 12;
  width: 200px;
  background-color: #fff;
  @extend %boxSize;
  padding: 140px 0 116px;
  @include boxShadow(0,0,7px,0,rgba(162,174,191,0.5));
  @include media(media,1023) {
    left: auto;
    right: 0;
    width: 100%;
    padding-top: 62px;
    @include transit(all 0.4s);
    @include translate(100%,0);
    background-color: transparent;
    &.active {
      @include translate(0,0);
      .bg {
        left: -50%;
      }
    }
  }
  @include media(media,579){
    padding-top: 55px;
  }
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include transit(all 0.4s);
    background: rgba(43,22,100,0.8);
    background: -moz-linear-gradient(left, rgba(43,22,100,0) 0%, rgba(43,22,100,0.8) 100%);
    background: -webkit-linear-gradient(left, rgba(43,22,100,0) 0%,rgba(43,22,100,0.8) 100%);
    background: linear-gradient(to right, rgba(43,22,100,0) 0%,rgba(43,22,100,0.8) 100%);
    @include media(hover,1024) {display: none}
    @include media(media,579){
      display: none;
    }
  }
  header {
    left: 0;
    padding-top: 35px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    @include media(media,1023) {display: none}
    .logo {
      display: inline-block;
      img {
        display: block;
        height: 52px;
        margin: 0 auto 4px;
        width: 125px;
      }
      p {
        color: #616161;
        font-size: 15px;
        font-weight: 300;
      }
    }
  }
  .nav-menu {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    @include media(media,1023) {
      margin-left: 50%;
      width: 50%;
      background-color: #fff;
    }
    @include media(media,579){
      width: 100%;
      margin-left: 0;
    }
  }
  .callback {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    @include media(media,1023) {
      margin-left: 50%;
      width: 50%;
      background-color: #fff;
    }
    @include media(media,579){
      width: 100%;
      margin-left: 0;
    }
    a, button {
      display: block;
      width: 100%;
      text-align: center;
    }
    .tel {
      color: $text;
      padding: 18px 0;
      font-size: 17px;
      font-family: PFDin_400;
    }
  }
}

.nav-menu {
  nav {
    height: 100%;
  }
  li {

  }
  a {
    font-family: "PFDin_400";
    text-transform: uppercase;
    position: relative;
    color: $text;
    display: block;
    padding: 14px 14px 14px 38px;
    font-size: 17px;
    &.active {
      color: $link;
      &:before {
        background-color: $link;
        content: "";
        height: 3px;
        left: 0;
        position: absolute;
        top: 24px;
        width: 30px;
      }
      & ~ .submenu {display: block}
    }
    &:hover {
      @include media(hover,1025){
        color: $link;
      }
    }
  }
  .submenu {
    display: none;
    a {
      text-transform: none;
      font-size: 15px;
      padding: 5px 12px 5px 46px;
      &.active {
        &:before {
          top: 14px;
          width: 38px;
        }

      }
    }
  }
  .mCS-autoHide {
    position: relative;
    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      height: 20px;
      background: rgba(181,182,186,0.5);
      background: -moz-linear-gradient(top, rgba(181,182,186,0.5) 0%, rgba(181,182,186,0) 100%);
      background: -webkit-linear-gradient(top, rgba(181,182,186,0.5) 0%,rgba(181,182,186,0) 100%);
      background: linear-gradient(to bottom, rgba(181,182,186,0.5) 0%,rgba(181,182,186,0) 100%);
    }
    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      right: 0;
      height: 20px;
      background: rgba(181,182,186,0.5);
      background: -moz-linear-gradient(top, rgba(181,182,186,0) 0%, rgba(181,182,186,0.5) 100%);
      background: -webkit-linear-gradient(top, rgba(181,182,186,0) 0%,rgba(181,182,186,0.5) 100%);
      background: linear-gradient(to bottom, rgba(181,182,186,0) 0%,rgba(181,182,186,0.5) 100%);
    }
    &.mCS_no_scrollbar {
      &:before,
      &:after {display: none}
    }
  }
  .mCSB_scrollTools { width: 6px; }
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 6px;
    border-radius: 0;
  }
  .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: $darkbord;
  }
  .mCSB_container {
    display: table;
    height: 100%;
    width: 100%;
    .main-nav-menu {
      display: table-cell;
      vertical-align: middle;
      padding: 20px 0;
    }
  }
}
