/* custom styles for developers and clients */

.call_me {
    position: fixed;
    z-index: 10;
    top: 100px;
    right: 50px;
}
@media screen and (max-width:1023px){
    .call_me {
        display: none !important;
    }
}
.call_me__form {
    background-color: #fff;

    width: 60px;
    -webkit-box-shadow: 0 0 0 5px rgba(255,255,255,0);
    -moz-box-shadow: 0 0 0 5px rgba(255,255,255,0);
    box-shadow: 0 0 0 5px rgba(255,255,255,0);
    box-sizing: border-box;
    padding: 0 10px;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 30px;
}
.call_me.active .call_me__form {
    width: 590px;

}
.call_me__form:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    -webkit-animation: pulse 2s linear infinite;
    -o-animation: pulse 2s linear infinite;
    -moz-animation: pulse 2s linear infinite;
    animation: pulse 2s linear infinite;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 210, 62, 0.5);
    }
    100% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 210, 62, 0);
    }
}
@-moz-keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 210, 62, 0.5);
    }
    100% {
        -moz-box-shadow: 0 0 0 10px rgba(255, 210, 62, 0);
    }
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 210, 62, 0.5);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(255, 210, 62, 0);
    }
}
.call_me__form input {
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    padding: 10px 20px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.call_me input:-webkit-autofill {
    background: transparent;
}
.call_me__form button {
    display: inline-block;
    width: 280px;
    height: 60px;
    vertical-align: middle;
    position: relative;
    font-size: 28px;
    font-weight: 300;
    outline: none;
}
.call_me__form .telephone-mask {
    display: inline-block;
    width: 280px;
    height: 60px;
    vertical-align: middle;
    position: relative;
    font-size: 28px;
    outline: none;
}
.telephone-mask .placeholder {
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    padding: 10px 20px;
    opacity: 0.8;
}
.call_me__main {
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 0;
}
.call_me.active .call_me__main {
    width: auto;
}
.show-call-form {
    z-index: 3;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 60px;
    color: #915A02;
    font-family: "PFDin_400";
    white-space: nowrap;
    background: #ffeb3c;
    background: -moz-linear-gradient(left, #ffeb3c 0%, #fcc02e 100%);
    background: -webkit-linear-gradient(left, #ffeb3c 0%,#fcc02e 100%);
    background: linear-gradient(to right, #ffeb3c 0%,#fcc02e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeb3c', endColorstr='#fcc02e',GradientType=1 );
    border-radius: 30px;
    width: 60px;
    padding: 10px 0 10px 10px;
    border: none;
    outline: none;
}
.show-call-form--txt {
    vertical-align: middle;
    display: block;
    line-height: 40px;
    font-size: 22px;
    opacity: 0;
    cursor: pointer;
}
.show-call-form i {
    vertical-align: middle;
    display: inline-block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    animation-name: tossing;
    -webkit-animation-name: tossing;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
@keyframes tossing {
    0% {transform: rotate(-8deg);}
    50% {transform: rotate(8deg);}
    100% {transform: rotate(-8deg);}}
@-moz-keyframes tossing {
    0% {-moz-transform: rotate(-8deg);}
    50% {-moz-transform: rotate(8deg);}
    100% {-moz-transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
    0% {-webkit-transform: rotate(-8deg);}
    50% {-webkit-transform: rotate(8deg);}
    100% {-webkit-transform: rotate(-8deg);}}
.call_me.active .show-call-form {
    pointer-events: none;
}
.call_me.active.success .show-call-form {
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -ms-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}
.call_me.active:not(.success) .show-call-form,
.show-call-form:hover {
    width: 300px;
    padding: 10px 70px 10px 25px;
    border-radius: 0 30px 30px 0;
}
.call_me.active .show-call-form i,
.show-call-form:hover i {
    -webkit-animation: unset;
    -moz-animation: unset;
    -o-animation: unset;
    animation: unset;
}
.call_me.active:not(.success) .show-call-form--txt,
.show-call-form:hover .show-call-form--txt {
    opacity: 1;
    -webkit-transition: all 0.1s ease 0.2s;
    -moz-transition: all 0.1s ease 0.2s;
    -ms-transition: all 0.1s ease 0.2s;
    -o-transition: all 0.1s ease 0.2s;
    transition: all 0.1s ease 0.2s;
}
.show-call-form:hover ~ .call_me__form {
    -webkit-box-shadow: 0 0 0 7px #FFFFFF;
    -moz-box-shadow: 0 0 0 7px #FFFFFF;
    box-shadow: 0 0 0 7px #FFFFFF;
}
.call_me.active .call_me__form {
    -webkit-box-shadow: 0 0 0 7px #FFFFFF, 0 0px 10px 8px rgba(126,140,161,.4);
    -moz-box-shadow: 0 0 0 7px #FFFFFF, 0 0px 10px 8px rgba(126,140,161,.4);
    box-shadow: 0 0 0 7px #FFFFFF, 0 0px 10px 8px rgba(126,140,161,.4);
}

.call_me.active .call_me__form:before,
.show-call-form:hover ~ .call_me__form:before {
    -webkit-animation: unset;
    -moz-animation: unset;
    -o-animation: unset;
    animation: unset;
}
.call_me__success {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 60px;
    bottom: 0;
    left: 0;
    line-height: 60px;
    white-space: nowrap;
    font-size: 17px;
    border-radius: 30px;
    text-align: center;
    z-index: 3;
}
.success .call_me__success {
    display: block;
}