html, body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

* {
  margin: 0;
  padding: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  outline: none; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

iframe,
img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button,
input {
  overflow: visible; }

button,
select {
  cursor: pointer; }

button[type=submit] {
  background: none;
  border: none;
  border-radius: 0; }

button,
html [type="button"], body [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 0; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

.content, .btn, .btn:before, #header .logo_big, #sidebar .logo a, #sidebar .aside-wrap, #sidebar .aside-wrap .up, #sidebar .aside-wrap nav.minimal, #sidebar .aside-wrap nav.minimal li a, #mobile-nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#preloader .loader-wrap .loader, .error-page_text span i svg, #header .logo a, #header .logo-mob a, #sidebar .logo a, #sidebar .logo img, #sidebar .aside-wrap, #sidebar .aside-wrap nav, #sidebar .aside-wrap nav ul, #sidebar .aside-wrap nav a, #sidebar .aside-wrap nav a i svg {
  width: 100%;
  height: 100%;
  display: block; }

#sidebar .aside-wrap nav a i .main-stroke {
  stroke: #011d4e; }

#sidebar .aside-wrap nav a i .n {
  fill: none; }

#sidebar .aside-wrap nav a i .w_w, #sidebar .aside-wrap nav a i .w_b, #sidebar .aside-wrap nav a i .w_c, #sidebar .aside-wrap nav a i .w_v {
  fill: #fff; }

#sidebar .aside-wrap nav a i .g_c {
  fill: #e6e8ed; }

#sidebar .aside-wrap nav a i .w_w, #sidebar .aside-wrap nav a i .w_b, #sidebar .aside-wrap nav a i .w_c, #sidebar .aside-wrap nav a i .w_v, #sidebar .aside-wrap nav a i .g_c {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#sidebar .aside-wrap nav a.active i .w_b {
  fill: #90CAF8; }

#sidebar .aside-wrap nav a.active i .w_c, #sidebar .aside-wrap nav a.active i .g_c {
  fill: #BBDEFA; }

#sidebar .aside-wrap nav a.active i .w_v {
  fill: #2196F3; }

@media screen and (min-width: 1025px) {
  #sidebar .aside-wrap nav a:hover i .w_b {
    fill: #90CAF8; }
  #sidebar .aside-wrap nav a:hover i .w_c, #sidebar .aside-wrap nav a:hover i .g_c {
    fill: #BBDEFA; }
  #sidebar .aside-wrap nav a:hover i .w_v {
    fill: #2196F3; } }

.layout:after {
  content: "";
  display: block;
  clear: both; }

.tableBox {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%; }
  .tableBox > div {
    display: table;
    width: 100%;
    height: 100%; }
    .tableBox > div > div {
      display: table-cell;
      vertical-align: middle;
      height: 100%; }

@font-face {
  font-family: pfair;
  src: url("../fonts/PlayfairDisplay-Italic.ttf"), url("../fonts/PlayfairDisplay-Italic.woff"), url("../fonts/PlayfairDisplay-Italic.eot"); }

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes load3 {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@-o-keyframes load3 {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(360deg); } }

@keyframes load3 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background-color: #e4f2fd; }
  #preloader .loader-wrap {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 0 auto; }
    #preloader .loader-wrap svg {
      position: absolute;
      height: 70px;
      width: 33px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
  #preloader .loader {
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    -moz-animation: load3 1.4s infinite linear;
    -o-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }
    #preloader .loader:before {
      width: 50%;
      height: 50%;
      background: #ffffff;
      border-radius: 100% 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      content: ''; }
    #preloader .loader:after {
      background: #e4f2fd;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }

html.ovh, body.ovh {
  overflow: hidden !important; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #616161; }

body, input, textarea, button, select {
  font-family: 'Roboto', sans-serif; }

a {
  color: #110F96;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.container_home {
  height: 100%;
  background-color: #e4f2fd; }

.content {
  margin: 0 auto;
  padding: 0 15px; }
  .content_lg {
    max-width: 1830px; }
  .content_bg {
    max-width: 985px; }
  .content_md {
    max-width: 930px; }
  .content_sm {
    max-width: 830px; }
  .content_xs {
    max-width: 640px; }

.btn {
  display: inline-block;
  text-transform: uppercase;
  color: #011d4e;
  font-size: 16px;
  background-color: transparent;
  position: relative;
  border-radius: 0;
  text-align: center;
  margin-bottom: 9px; }
  .btn:before {
    content: "";
    position: absolute;
    top: 9px;
    left: -9px;
    width: 100%;
    height: 100%;
    background-color: #e4f2fd;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .btn.invert:before {
    background-color: #fff; }
  .btn strong {
    position: relative;
    display: block;
    font-weight: 500;
    font-style: normal;
    border: 2px solid #011d4e;
    padding: 8px 35px;
    color: #011d4e; }
    .btn strong .arrow {
      display: inline-block;
      font-size: 22px;
      line-height: 16px;
      margin-right: 6px; }
  @media screen and (min-width: 1025px) {
    .btn:hover:before {
      top: 0;
      left: 0; } }

.copyright {
  margin-top: 115px;
  font-size: 13px;
  overflow: hidden;
  color: #011d4e;
  text-align: center; }
  @media screen and (max-width: 1024px) {
    .copyright {
      margin-top: 80px;
      text-align: right; } }
  @media screen and (max-width: 640px) {
    .copyright {
      text-align: center; } }
  .copyright p {
    float: left;
    width: 33.33%;
    margin-left: 33.33%; }
    @media screen and (max-width: 1024px) {
      .copyright p {
        margin: 0;
        text-align: left;
        width: auto; } }
    @media screen and (max-width: 640px) {
      .copyright p {
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 20px; } }
  .copyright .brand {
    float: left;
    width: 33.33%;
    text-align: right; }
    @media screen and (max-width: 1024px) {
      .copyright .brand {
        float: none;
        width: auto; } }
    .copyright .brand a {
      color: inherit;
      text-decoration: underline; }

@media screen and (max-width: 1024px) {
  .hidden-in-mobile {
    display: none !important; } }

@media screen and (max-width: 640px) {
  .hidden-in-smarts {
    display: none !important; } }

.show-in-mobile {
  display: none; }
  @media screen and (max-width: 1024px) {
    .show-in-mobile {
      display: block; } }

.h_center {
  margin-top: 75px; }
  @media screen and (max-width: 1024px) {
    .h_center {
      margin-top: 60px; }
      .section_grid .h_center {
        margin-top: 0; } }
  @media screen and (max-width: 640px) {
    .h_center {
      margin-top: 0; } }

/*-------- error page --------*/
.error-page {
  text-align: center;
  padding-bottom: 40px; }
  .error-page .section__plaid {
    margin-top: 75px;
    overflow: hidden;
    padding: 75px 0 5px;
    position: relative; }
    @media screen and (max-width: 1024px) {
      .error-page .section__plaid {
        margin-top: 60px;
        padding-top: 60px; } }
    @media screen and (max-width: 640px) {
      .error-page .section__plaid {
        padding-top: 40px; } }
  .error-page_text {
    text-align: center;
    font-size: 250px;
    color: #011d4e;
    font-weight: 100;
    margin-bottom: 40px;
    line-height: 1; }
    @media screen and (max-width: 640px) {
      .error-page_text {
        font-size: 175px; } }
    .error-page_text span {
      vertical-align: middle;
      display: inline-block;
      position: relative;
      margin: 0 -25px; }
      @media screen and (max-width: 640px) {
        .error-page_text span {
          margin: 0 -22px; } }
      .error-page_text span i {
        bottom: 47px;
        height: 72px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: 60px; }
        @media screen and (max-width: 640px) {
          .error-page_text span i {
            bottom: 30px;
            height: 55px;
            width: 45px; } }

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  padding: 18px 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  #header.wh {
    background-color: #fff; }
  #header.hidden {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%); }
  #header.always_show {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  @media screen and (min-width: 1025px) {
    #header:hover {
      background-color: #fff;
      -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2); } }
  @media screen and (max-width: 1024px) {
    #header {
      background-color: #fff;
      -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
      padding: 13px 0; } }
  #header .logo {
    float: left;
    width: 170px;
    height: 37px; }
    @media screen and (max-width: 1024px) {
      #header .logo {
        display: none; } }
    #header .logo a {
      background: transparent url("../images/svg/logo.svg") center center/100% 100% no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      white-space: nowrap;
      text-indent: 999px;
      overflow: hidden;
      font-size: 1px; }
    #header .logo_big {
      position: absolute;
      top: 0;
      height: 75px;
      width: 17%;
      left: 0;
      text-align: center;
      background-color: #fff;
      padding: 12px 0; }
      @media screen and (max-width: 1600px) {
        #header .logo_big {
          padding: 16px 0; } }
      @media screen and (max-width: 1200px) {
        #header .logo_big {
          padding: 20px 0; } }
      #header .logo_big a {
        display: inline-block;
        height: 50px;
        width: 236px;
        background-image: url("../images/svg/logo-big.svg"); }
        @media screen and (max-width: 1600px) {
          #header .logo_big a {
            width: 200px;
            height: 43px; } }
        @media screen and (max-width: 1200px) {
          #header .logo_big a {
            width: 160px;
            height: 34px; } }
    #header .logo-mob {
      display: none;
      width: 160px;
      height: 34px;
      margin-right: 35px;
      vertical-align: middle; }
      #header .logo-mob a {
        background: transparent url("../images/svg/logo-mob.svg") center center/100% 100% no-repeat;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        white-space: nowrap;
        text-indent: 999px;
        overflow: hidden;
        font-size: 1px; }
      @media screen and (max-width: 1024px) {
        #header .logo-mob {
          display: inline-block; } }
  #header .tel {
    float: right;
    color: inherit;
    margin: 10px 0;
    font-weight: 500; }
    @media screen and (max-width: 1024px) {
      #header .tel {
        display: inline-block;
        float: none;
        margin: 0;
        vertical-align: middle; } }
    @media screen and (max-width: 640px) {
      #header .tel {
        display: none; } }
  #header nav {
    text-align: center;
    margin: 0 17%; }
    @media screen and (max-width: 1024px) {
      #header nav {
        display: none; } }
    #header nav ul {
      padding: 8px 0; }
      @media screen and (max-width: 1680px) {
        #header nav ul {
          font-size: 15px; } }
      @media screen and (max-width: 1400px) {
        #header nav ul {
          font-size: 14px; } }
      @media screen and (max-width: 1200px) {
        #header nav ul {
          font-size: 13px; } }
    #header nav li {
      display: inline-block;
      vertical-align: middle;
      font-weight: 300;
      margin: 0 30px;
      position: relative; }
      @media screen and (max-width: 1400px) {
        #header nav li {
          margin: 0 20px; } }
      @media screen and (max-width: 1200px) {
        #header nav li {
          margin: 0 10px; } }
      #header nav li .drop {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        top: 100%;
        left: -50px;
        right: -50px;
        padding-top: 28px; }
        #header nav li .drop ul {
          padding: 0;
          background-color: #e4f2fd;
          -webkit-box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.2); }
          #header nav li .drop ul li {
            display: block;
            margin: 0; }
          #header nav li .drop ul a {
            display: block;
            padding: 8px 10px 8px 20px;
            text-align: left;
            text-transform: none;
            font-size: 15px; }
            @media screen and (min-width: 1025px) {
              #header nav li .drop ul a:hover {
                background-color: #fff; } }
      @media screen and (min-width: 1025px) {
        #header nav li:hover .drop {
          opacity: 1;
          visibility: visible; } }
    #header nav a, #header nav span {
      text-transform: uppercase;
      color: inherit;
      cursor: pointer;
      line-height: 21px; }
      @media screen and (min-width: 1025px) {
        #header nav a:hover, #header nav span:hover {
          color: #110F96; } }
      #header nav a.active, #header nav span.active {
        color: #110F96; }
  #header .burger {
    position: absolute;
    width: 34px;
    height: 28px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;
    display: none; }
    @media screen and (max-width: 1024px) {
      #header .burger {
        display: block; } }
    #header .burger div {
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      position: absolute;
      height: 3px;
      width: 34px;
      top: 13px;
      background-color: #011d4e; }
      #header .burger div:before {
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        position: absolute;
        width: 34px;
        height: 3px;
        background-color: #011d4e;
        content: "";
        top: -11px; }
      #header .burger div:after {
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        position: absolute;
        width: 34px;
        height: 3px;
        background-color: #011d4e;
        content: "";
        top: 11px; }
    #header .burger.close div {
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      background: transparent; }
      #header .burger.close div:before {
        -webkit-transform: rotateZ(45deg) scaleX(1.12) translate(7px, 7px);
        -moz-transform: rotateZ(45deg) scaleX(1.12) translate(7px, 7px);
        -ms-transform: rotateZ(45deg) scaleX(1.12) translate(7px, 7px);
        -o-transform: rotateZ(45deg) scaleX(1.12) translate(7px, 7px);
        transform: rotateZ(45deg) scaleX(1.12) translate(7px, 7px); }
      #header .burger.close div:after {
        -webkit-transform: rotateZ(-45deg) scaleX(1.12) translate(8px, -8px);
        -moz-transform: rotateZ(-45deg) scaleX(1.12) translate(8px, -8px);
        -ms-transform: rotateZ(-45deg) scaleX(1.12) translate(8px, -8px);
        -o-transform: rotateZ(-45deg) scaleX(1.12) translate(8px, -8px);
        transform: rotateZ(-45deg) scaleX(1.12) translate(8px, -8px); }

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 12;
  width: 17%;
  background-color: #fff; }
  @media screen and (max-width: 1024px) {
    #sidebar {
      display: none; } }
  #sidebar .logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
    height: 75px;
    background-color: #fff; }
    #sidebar .logo a {
      padding: 12px 10px; }
    #sidebar .logo figure {
      display: inline-block;
      vertical-align: middle;
      width: 224px;
      height: 50px; }
    #sidebar .logo i {
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 60px; }
  #sidebar .aside-wrap {
    padding-bottom: 75px;
    position: relative;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    #sidebar .aside-wrap.lowered {
      -webkit-transform: translate(0, 80px);
      -moz-transform: translate(0, 80px);
      -ms-transform: translate(0, 80px);
      -o-transform: translate(0, 80px);
      transform: translate(0, 80px); }
    #sidebar .aside-wrap .up {
      cursor: pointer;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 75px;
      text-align: center;
      line-height: 75px;
      padding: 0 15px;
      text-transform: uppercase;
      background-color: #e6e8ed;
      color: #011d4e;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      @media screen and (min-width: 1025px) {
        #sidebar .aside-wrap .up:hover {
          background-color: #bbb; } }
    #sidebar .aside-wrap nav li {
      width: 100%;
      position: relative; }
      #sidebar .aside-wrap nav li:before {
        content: "";
        position: absolute;
        top: 100%;
        right: 20%;
        left: 20%;
        height: 1px;
        background-color: #eee; }
    #sidebar .aside-wrap nav[data-menu='2'] li {
      height: 50%; }
    #sidebar .aside-wrap nav[data-menu='3'] li {
      height: 33.3333%; }
    #sidebar .aside-wrap nav[data-menu='4'] li {
      height: 25%; }
    #sidebar .aside-wrap nav.minimal {
      overflow: hidden; }
      #sidebar .aside-wrap nav.minimal .mCSB_container {
        display: table;
        height: 100%; }
      #sidebar .aside-wrap nav.minimal ul {
        display: table-cell;
        vertical-align: middle;
        padding: 5px 0; }
      #sidebar .aside-wrap nav.minimal li {
        white-space: nowrap; }
        #sidebar .aside-wrap nav.minimal li:before {
          display: none; }
        #sidebar .aside-wrap nav.minimal li a {
          text-align: left;
          padding: 15px 12%;
          text-transform: none; }
          #sidebar .aside-wrap nav.minimal li a:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 0;
            height: 42px; }
        #sidebar .aside-wrap nav.minimal li h5 {
          white-space: normal;
          padding: 0;
          display: inline-block;
          vertical-align: middle;
          min-height: 20px; }
    #sidebar .aside-wrap nav a {
      position: relative;
      text-align: center;
      color: inherit;
      text-transform: uppercase; }
      #sidebar .aside-wrap nav a i {
        display: block;
        height: 86px;
        margin: 0 auto 8px;
        width: 86px; }
      #sidebar .aside-wrap nav a.active {
        color: #110F96; }
      #sidebar .aside-wrap nav a h5 {
        font-size: 16px;
        padding: 0 20%;
        font-weight: 300; }
      #sidebar .aside-wrap nav a:hover {
        z-index: 5;
        color: #110F96;
        -webkit-box-shadow: 1px 0 11px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 1px 0 11px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 1px 0 11px 0 rgba(0, 0, 0, 0.2); }

#mobile-nav {
  display: none;
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 50%;
  z-index: 14;
  padding-top: 60px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-box-shadow: -1px 0 7px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 0 7px 0 rgba(0, 0, 0, 0.2);
  box-shadow: -1px 0 7px 0 rgba(0, 0, 0, 0.2); }
  #mobile-nav.active {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
    #mobile-nav.active .close {
      display: block; }
  @media screen and (max-width: 1024px) {
    #mobile-nav {
      display: block; } }
  @media screen and (max-width: 640px) {
    #mobile-nav {
      width: 100%;
      overflow: auto;
      background-color: transparent;
      -webkit-box-shadow: 0 0 0 0 transparent;
      -moz-box-shadow: 0 0 0 0 transparent;
      box-shadow: 0 0 0 0 transparent;
      -webkit-transform: translate(0, -100%);
      -moz-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
      -o-transform: translate(0, -100%);
      transform: translate(0, -100%); }
      #mobile-nav.active {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0); } }
  #mobile-nav .close {
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    display: none; }
    @media screen and (max-width: 640px) {
      #mobile-nav .close {
        right: 0; } }
  #mobile-nav nav {
    height: 100%;
    overflow: auto; }
    @media screen and (max-width: 640px) {
      #mobile-nav nav {
        background-color: #fff;
        overflow: visible;
        height: auto;
        -webkit-box-shadow: -1px 0 7px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: -1px 0 7px 0 rgba(0, 0, 0, 0.2);
        box-shadow: -1px 0 7px 0 rgba(0, 0, 0, 0.2); } }
    #mobile-nav nav a, #mobile-nav nav span {
      display: block;
      text-align: left;
      cursor: pointer;
      color: #616161; }
      #mobile-nav nav a.active, #mobile-nav nav span.active {
        color: #011d4e; }
    #mobile-nav nav .menu-item {
      position: relative; }
      #mobile-nav nav .menu-item > span,
      #mobile-nav nav .menu-item > a {
        padding: 28px 15px 28px 45px;
        text-transform: uppercase;
        font-weight: 300; }
        @media screen and (max-width: 640px) {
          #mobile-nav nav .menu-item > span,
          #mobile-nav nav .menu-item > a {
            padding: 12px 15px 12px 45px;
            font-size: 15px; } }
      #mobile-nav nav .menu-item .show-drop {
        position: relative; }
        #mobile-nav nav .menu-item .show-drop:before {
          content: "";
          position: absolute;
          width: 11px;
          height: 1px;
          background-color: #424242;
          top: 39px;
          left: 12px;
          -webkit-transform: rotate(38deg);
          -moz-transform: rotate(38deg);
          -ms-transform: rotate(38deg);
          -o-transform: rotate(38deg);
          transform: rotate(38deg);
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
          @media screen and (max-width: 640px) {
            #mobile-nav nav .menu-item .show-drop:before {
              top: 22px; } }
        #mobile-nav nav .menu-item .show-drop:after {
          content: "";
          position: absolute;
          width: 11px;
          height: 1px;
          background-color: #424242;
          top: 39px;
          left: 21px;
          -webkit-transform: rotate(-38deg);
          -moz-transform: rotate(-38deg);
          -ms-transform: rotate(-38deg);
          -o-transform: rotate(-38deg);
          transform: rotate(-38deg);
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
          @media screen and (max-width: 640px) {
            #mobile-nav nav .menu-item .show-drop:after {
              top: 22px; } }
      #mobile-nav nav .menu-item .drop {
        background-color: #e4f2fd;
        display: none; }
        #mobile-nav nav .menu-item .drop a {
          padding: 10px 40px;
          font-weight: 300;
          font-size: 15px; }
      #mobile-nav nav .menu-item:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 40px;
        right: 40px;
        height: 1px;
        background-color: #eee; }
      #mobile-nav nav .menu-item.active .show-drop:before {
        -webkit-transform: rotate(-38deg);
        -moz-transform: rotate(-38deg);
        -ms-transform: rotate(-38deg);
        -o-transform: rotate(-38deg);
        transform: rotate(-38deg);
        top: 37px; }
        @media screen and (max-width: 640px) {
          #mobile-nav nav .menu-item.active .show-drop:before {
            top: 20px; } }
      #mobile-nav nav .menu-item.active .show-drop:after {
        -webkit-transform: rotate(38deg);
        -moz-transform: rotate(38deg);
        -ms-transform: rotate(38deg);
        -o-transform: rotate(38deg);
        transform: rotate(38deg);
        top: 37px; }
        @media screen and (max-width: 640px) {
          #mobile-nav nav .menu-item.active .show-drop:after {
            top: 20px; } }
  #mobile-nav .tel {
    display: none;
    background-color: #ffffff;
    font-size: 15px;
    padding: 12px 45px;
    text-align: left;
    color: #424242;
    font-weight: 300;
    margin-top: 1px;
    position: relative; }
    @media screen and (max-width: 640px) {
      #mobile-nav .tel {
        display: block; } }
