html, body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

* {
  margin: 0;
  padding: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  outline: none; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

iframe,
img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button,
input {
  overflow: visible; }

button,
select {
  cursor: pointer; }

button[type=submit] {
  background: none;
  border: none;
  border-radius: 0; }

button,
html [type="button"], body [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 0; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

.content, .btn, .searching fieldset .label, .searching fieldset button[type="reset"], .searching fieldset input, .sidebar, .footer-slogan, .footer-content, .footer-nav > ul, .custom-form textarea,
.custom-form input:not([type=checkbox]),
.custom-form input:not([type=radio]), .fields .field-50, .fields .field-100, .sign-up form fieldset, .sign-up form fieldset input, .blog-box ul li, .blog-box ul li a, .machine-list ul li, .view i, .machine-items ul li, #mobile-nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#preloader .loader, svg, .btn span svg, .btn span img, .btn i svg, .btn i img, .error-page_text span i svg, #modal .bg, .blog-box ul li a, .video div, .machine-items ul li a {
  width: 100%;
  height: 100%;
  display: block; }

.layout:after {
  content: "";
  display: block;
  clear: both; }

.tableBox {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%; }
  .tableBox > div {
    display: table;
    width: 100%;
    height: 100%; }
    .tableBox > div > div {
      display: table-cell;
      vertical-align: middle;
      height: 100%; }

@font-face {
  font-family: PFDin_100;
  src: url("../fonts/PFDinDisplayPro-Thin.ttf"), url("../fonts/PFDinDisplayPro-Thin.woff"), url("../fonts/PFDinDisplayPro-Thin.eot"); }

@font-face {
  font-family: PFDin_300;
  src: url("../fonts/PFDinDisplayPro-Light.ttf"), url("../fonts/PFDinDisplayPro-Light.woff"), url("../fonts/PFDinDisplayPro-Light.eot"); }

@font-face {
  font-family: PFDin_400;
  src: url("../fonts/PFDinDisplayPro-Regular.ttf"), url("../fonts/PFDinDisplayPro-Regular.woff"), url("../fonts/PFDinDisplayPro-Regular.eot"); }

@font-face {
  font-family: PFDin_500;
  src: url("../fonts/PFDinDisplayPro-Medium.ttf"), url("../fonts/PFDinDisplayPro-Medium.woff"), url("../fonts/PFDinDisplayPro-Medium.eot"); }

@font-face {
  font-family: PFDin_800;
  src: url("../fonts/PFDinDisplayPro-Black.ttf"), url("../fonts/PFDinDisplayPro-Black.woff"), url("../fonts/PFDinDisplayPro-Black.eot"); }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?b0b3ku");
  src: url("../fonts/icomoon.eot?b0b3ku#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?b0b3ku") format("truetype"), url("../fonts/icomoon.woff?b0b3ku") format("woff"), url("../fonts/icomoon.svg?b0b3ku#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-twitter:before {
  content: "\e900"; }

.icon-odnoklassniki:before {
  content: "\e901"; }

.icon-vk:before {
  content: "\e902"; }

.icon-instagram:before {
  content: "\e903"; }

.icon-facebook:before {
  content: "\e904"; }

.icon-facebook-f:before {
  content: "\e904"; }

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes load3 {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@-o-keyframes load3 {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(360deg); } }

@keyframes load3 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background-color: #f0f3f5; }
  #preloader .loader-wrap {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 0 auto; }
  #preloader .loader {
    border-radius: 50%;
    background: #2644BC;
    background: -moz-linear-gradient(left, #2644BC 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #2644BC 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #2644BC 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #2644BC 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #2644BC 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    -moz-animation: load3 1.4s infinite linear;
    -o-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }
    #preloader .loader:before {
      width: 50%;
      height: 50%;
      background: #2644BC;
      border-radius: 100% 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      content: ''; }
    #preloader .loader:after {
      background: #f0f3f5;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }

html.ovh, body.ovh {
  overflow: hidden !important; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #6E7078; }

body, input, textarea, button, select {
  font-family: 'Roboto', sans-serif; }

a {
  color: #2644BC;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.container_home {
  height: 100%;
  background-color: #f0f3f5; }

.container_page {
  background-color: #f0f3f5; }

.content {
  margin: 0 auto;
  padding: 0 15px; }
  .content_lg {
    max-width: 1200px; }
  .content_bg {
    max-width: 985px; }
  .content_md {
    max-width: 930px; }
  .content_sm {
    max-width: 830px; }
  .content_xs {
    max-width: 640px; }

.btn {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  background-color: #2644BC;
  position: relative;
  border-radius: 0;
  text-align: center;
  font-family: PFDin_100;
  padding: 11px 0;
  border: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .gradient .btn, button[type="submit"].gradient .btn {
    background-color: transparent; }
  .btn span, .btn i {
    display: inline-block;
    vertical-align: middle; }
  .flex-links .btn i,
  .callback .btn i {
    width: 22px;
    height: 38px;
    margin-right: 6px; }
  @media screen and (min-width: 1025px) {
    .btn:hover {
      background-color: #282d90; }
      .gradient .btn:hover {
        background-color: rgba(43, 22, 100, 0.5); } }
  .btn-field {
    text-align: center; }
    .btn-field .btn {
      display: inline-block;
      min-width: 180px; }

.bg__white {
  background-color: #fff; }

.bg__def {
  background-color: #f0f3f5; }

.gradient, button[type="submit"].gradient {
  color: #fff;
  background: #2644BC;
  background: -moz-linear-gradient(left, #2644BC 0%, #2b1664 100%);
  background: -webkit-linear-gradient(left, #2644BC 0%, #2b1664 100%);
  background: linear-gradient(to right, #2644BC 0%, #2b1664 100%);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  @media screen and (min-width: 1025px) {
    .gradient_alone:hover {
      -webkit-box-shadow: 0 0 0 100px rgba(43, 22, 100, 0.5) inset;
      -moz-box-shadow: 0 0 0 100px rgba(43, 22, 100, 0.5) inset;
      box-shadow: 0 0 0 100px rgba(43, 22, 100, 0.5) inset; } }

@media screen and (max-width: 1024px) {
  .hidden-in-mobile {
    display: none !important; } }

@media screen and (max-width: 640px) {
  .hidden-in-smarts {
    display: none !important; } }

.show-in-mobile {
  display: none; }
  @media screen and (max-width: 1024px) {
    .show-in-mobile {
      display: block; } }

#wrapper {
  padding-left: 200px; }

.main {
  position: relative;
  z-index: 1; }

.divider {
  height: 0.8rem;
  position: relative; }
  .divider_offer {
    margin: 1.6rem 0;
    width: 7%; }
  .profile-content .divider {
    margin: -0.4rem 0 1.5rem; }

/*-------- page --------*/
.page {
  padding-top: 40px;
  position: relative; }
  .page h1 {
    text-align: center;
    font-family: PFDin_100;
    color: #2A1C6E; }

/*-------- error page --------*/
.error-page {
  text-align: center;
  padding-bottom: 40px; }
  .error-page .section__plaid {
    margin-top: 75px;
    overflow: hidden;
    padding: 75px 0 5px;
    position: relative; }
    @media screen and (max-width: 1024px) {
      .error-page .section__plaid {
        margin-top: 60px;
        padding-top: 60px; } }
    @media screen and (max-width: 640px) {
      .error-page .section__plaid {
        padding-top: 40px; } }
  .error-page_text {
    text-align: center;
    font-size: 250px;
    font-weight: 100;
    margin-bottom: 40px;
    line-height: 1; }
    @media screen and (max-width: 640px) {
      .error-page_text {
        font-size: 175px; } }
    .error-page_text span {
      vertical-align: middle;
      display: inline-block;
      position: relative;
      margin: 0 -25px; }
      @media screen and (max-width: 640px) {
        .error-page_text span {
          margin: 0 -22px; } }
      .error-page_text span i {
        bottom: 47px;
        height: 72px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: 60px; }
        @media screen and (max-width: 640px) {
          .error-page_text span i {
            bottom: 30px;
            height: 55px;
            width: 45px; } }

.searching fieldset {
  position: fixed;
  top: 15px;
  left: 250px;
  z-index: 15;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden; }
  .searching fieldset .label {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    padding: 10px;
    background-color: #fff; }
  .searching fieldset button {
    position: absolute;
    width: 0;
    top: 0;
    line-height: 36px;
    border: none;
    overflow: hidden;
    cursor: pointer;
    z-index: 2;
    outline: none;
    -webkit-transition: all 0.2s ease 0.1s;
    -moz-transition: all 0.2s ease 0.1s;
    -ms-transition: all 0.2s ease 0.1s;
    -o-transition: all 0.2s ease 0.1s;
    transition: all 0.2s ease 0.1s; }
    .searching fieldset button[type="reset"] {
      right: 80px;
      width: 36px;
      height: 36px;
      background-color: transparent;
      padding: 10px;
      opacity: 0; }
      .searching fieldset button[type="reset"] svg {
        fill: #9e9e9e; }
    .searching fieldset button[type="submit"] {
      right: 0;
      background-color: #2644BC;
      color: transparent;
      border-radius: 0 25px 25px 0;
      text-align: center; }
  .searching fieldset input {
    background-color: transparent;
    border: medium none;
    border-radius: 25px;
    height: 36px;
    line-height: 36px;
    outline: medium none;
    padding: 0 7px;
    width: 36px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.3s, opacity 0.1s ease 0.2s;
    -moz-transition: all 0.3s, opacity 0.1s ease 0.2s;
    -ms-transition: all 0.3s, opacity 0.1s ease 0.2s;
    -o-transition: all 0.3s, opacity 0.1s ease 0.2s;
    transition: all 0.3s, opacity 0.1s ease 0.2s; }

.searching .bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  z-index: 14;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%);
  background: rgba(43, 22, 100, 0.8);
  background: -moz-linear-gradient(top, rgba(43, 22, 100, 0.8) 0%, rgba(43, 22, 100, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(43, 22, 100, 0.8) 0%, rgba(43, 22, 100, 0) 100%);
  background: linear-gradient(to bottom, rgba(43, 22, 100, 0.8) 0%, rgba(43, 22, 100, 0) 100%); }

.searching.active .bg {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.searching.active fieldset input {
  width: 600px;
  padding: 0 107px 0 41px;
  opacity: 1; }

.searching.active fieldset button[type="submit"] {
  width: 80px;
  color: #fff; }

.searching.active fieldset button[type="reset"] {
  opacity: 1; }

.searching.active fieldset label {
  z-index: 0; }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 12;
  width: 200px;
  background-color: #fff;
  padding: 140px 0 118px;
  -webkit-box-shadow: 0 0 7px 0 rgba(162, 174, 191, 0.5);
  -moz-box-shadow: 0 0 7px 0 rgba(162, 174, 191, 0.5);
  box-shadow: 0 0 7px 0 rgba(162, 174, 191, 0.5); }
  @media screen and (max-width: 1024px) {
    .sidebar {
      display: none; } }
  .sidebar header {
    left: 0;
    padding-top: 35px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0; }
    .sidebar header .logo {
      display: inline-block; }
      .sidebar header .logo img {
        display: block;
        height: 52px;
        margin: 0 auto 4px;
        width: 125px; }
      .sidebar header .logo p {
        color: #616161;
        font-size: 15px;
        font-weight: 300; }
  .sidebar .nav-menu {
    height: 100%;
    width: 100%; }
  .sidebar .callback {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; }
    .sidebar .callback a, .sidebar .callback button {
      display: block;
      width: 100%;
      text-align: center; }
    .sidebar .callback .tel {
      color: #6E7078;
      padding: 18px 0;
      font-size: 17px;
      font-family: PFDin_400; }

.nav-menu nav {
  height: 100%; }

.nav-menu a {
  font-family: "PFDin_400";
  text-transform: uppercase;
  position: relative;
  color: #6E7078;
  display: block;
  padding: 14px 14px 14px 38px;
  font-size: 17px; }
  .nav-menu a.active {
    color: #2644BC; }
    .nav-menu a.active ~ .submenu {
      display: block; }
  @media screen and (min-width: 1025px) {
    .nav-menu a:hover {
      color: #2644BC; } }

.nav-menu .submenu {
  display: none; }
  .nav-menu .submenu a {
    text-transform: none;
    font-size: 15px;
    padding: 5px 12px 5px 46px; }
    .nav-menu .submenu a.active:before {
      background-color: #2644BC;
      content: "";
      height: 3px;
      left: 0;
      position: absolute;
      top: 14px;
      width: 38px; }

.nav-menu .mCS-autoHide {
  position: relative; }
  .nav-menu .mCS-autoHide:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: rgba(181, 182, 186, 0.5);
    background: -moz-linear-gradient(top, rgba(181, 182, 186, 0.5) 0%, rgba(181, 182, 186, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(181, 182, 186, 0.5) 0%, rgba(181, 182, 186, 0) 100%);
    background: linear-gradient(to bottom, rgba(181, 182, 186, 0.5) 0%, rgba(181, 182, 186, 0) 100%); }
  .nav-menu .mCS-autoHide:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: rgba(181, 182, 186, 0.5);
    background: -moz-linear-gradient(top, rgba(181, 182, 186, 0) 0%, rgba(181, 182, 186, 0.5) 100%);
    background: -webkit-linear-gradient(top, rgba(181, 182, 186, 0) 0%, rgba(181, 182, 186, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(181, 182, 186, 0) 0%, rgba(181, 182, 186, 0.5) 100%); }
  .nav-menu .mCS-autoHide.mCS_no_scrollbar:before, .nav-menu .mCS-autoHide.mCS_no_scrollbar:after {
    display: none; }

.nav-menu .mCSB_scrollTools {
  width: 6px; }

.nav-menu .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
  border-radius: 0; }

.nav-menu .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #a2aebf; }

.nav-menu .mCSB_container {
  display: table;
  height: 100%;
  width: 100%; }
  .nav-menu .mCSB_container .main-nav-menu {
    display: table-cell;
    vertical-align: middle;
    padding: 20px 0; }

.footer {
  background-color: #2b1664;
  font-size: 0;
  color: #fff; }
  .footer-slogan {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    width: 25%;
    text-align: center; }
    .footer-slogan img {
      display: inline-block;
      width: 170px;
      height: 220px; }
  .footer-content {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    width: 75%;
    padding: 70px 0 20px 20px; }
  .footer-head {
    padding-right: 30%;
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.5rem; }
  .footer-nav {
    margin-bottom: 20px; }
    .footer-nav > ul {
      float: left;
      position: relative;
      padding-right: 20px;
      width: 33.33%;
      padding-top: 35px; }
      .footer-nav > ul:before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 20px;
        height: 1px;
        background-color: #2736a2; }
    .footer-nav-list li {
      margin-bottom: 0.5rem; }
    .footer-nav-list a {
      color: #ffffff;
      font-size: 1.1rem;
      font-weight: 300; }
      @media screen and (min-width: 1025px) {
        .footer-nav-list a:hover {
          text-decoration: underline; } }
    .footer-nav-contacts li {
      font-size: 1.1rem;
      font-weight: 300;
      overflow: hidden;
      padding-left: 10px;
      margin-bottom: 20px; }
      .footer-nav-contacts li i {
        float: left;
        height: 32px;
        width: 32px;
        margin-right: 18px; }
      .footer-nav-contacts li p {
        margin-left: 50px;
        padding: 4px 0; }
    .footer-nav-contacts a {
      color: inherit; }
      @media screen and (min-width: 1025px) {
        .footer-nav-contacts a:hover {
          text-decoration: underline; } }
  .footer-copyright {
    margin-right: 20px;
    border-top: 1px solid #2736a2;
    font-weight: 100;
    color: #a2aebf;
    font-size: 0.96rem;
    padding: 30px 0; }
    .footer-copyright a {
      color: inherit; }
      @media screen and (min-width: 1025px) {
        .footer-copyright a:hover {
          text-decoration: underline; } }
    .footer-copyright p:first-child {
      float: left; }
    .footer-copyright p:last-child {
      float: right; }

#modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none; }
  #modal .bg {
    background-color: rgba(43, 22, 100, 0.8); }
  #modal .modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 20px 0 rgba(43, 22, 100, 0.6);
    -moz-box-shadow: 0 10px 20px 0 rgba(43, 22, 100, 0.6);
    box-shadow: 0 10px 20px 0 rgba(43, 22, 100, 0.6); }
    #modal .modal-container .close {
      position: absolute;
      z-index: 5;
      top: 15px;
      right: 15px;
      width: 25px;
      height: 25px;
      cursor: pointer; }
      #modal .modal-container .close svg {
        fill: #2644BC; }
  #modal .modal-thanks {
    z-index: 2;
    background-color: #fff;
    color: #000;
    line-height: 1.6;
    display: none; }
    #modal .modal-thanks h6 {
      padding: 0 40px;
      font-family: PFDin_400;
      text-align: center;
      font-size: 1.7rem;
      margin-bottom: 1.3rem; }
    #modal .modal-thanks p {
      padding: 0 40px;
      font-weight: 300;
      margin-bottom: 3.5rem; }
    #modal .modal-thanks.active {
      display: block; }

.modal-form h5 {
  padding: 0 40px;
  text-transform: uppercase;
  font-family: PFDin_400;
  font-size: 1.2rem;
  color: #6E7078;
  margin-bottom: 40px; }

.modal-form section {
  padding-top: 40px;
  display: none; }
  .modal-form section.current {
    display: block; }

.modal-form button[type=submit] {
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 0; }
  .modal-form button[type=submit] i {
    display: inline-block;
    width: 40px;
    height: 40px; }

.custom-form img {
  display: block;
  width: 100%;
  height: auto; }

.custom-form textarea,
.custom-form input:not([type=checkbox]),
.custom-form input:not([type=radio]) {
  display: block;
  width: 100%;
  background-color: #f0f3f5;
  border-style: none none solid;
  border-width: 1px;
  border-color: #a2aebf;
  font-style: italic;
  padding: 0 15px;
  line-height: 40px;
  margin-bottom: 10px;
  font-weight: 300;
  resize: none; }
  .custom-form textarea:focus,
  .custom-form input:not([type=checkbox]):focus,
  .custom-form input:not([type=radio]):focus {
    background-color: #fff9e1; }

.custom-form .check-field {
  font-weight: 300;
  position: relative; }
  .custom-form .check-field label {
    padding-left: 40px;
    position: relative;
    line-height: 22px;
    display: block;
    margin-bottom: 10px;
    cursor: pointer; }
    .custom-form .check-field label:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #a2aebf; }
    .custom-form .check-field label:after {
      content: "";
      position: absolute;
      top: 1px;
      left: 1px;
      width: 20px;
      height: 20px;
      opacity: 0;
      background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%229%22%20height%3D%229%22%20viewBox%3D%220%200%20254%20254%22%20shape-rendering%3D%22geometricPrecision%22%20image-rendering%3D%22optimizeQuality%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m3%2093c-5-10-2-22%208-27%2010-5%2022-2%2027%208l67%20121%20113-185c6-9%2018-12%2027-7%209%206%2012%2018%207%2027l-130%20214c-2%203-4%205-7%207-10%205-22%202-27-8l-84-151z%22%20fill%3D%22%232644bc%22%20fill-rule%3D%22nonzero%22/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 15px 15px;
      background-position: 3px 2px; }
  .custom-form .check-field input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: -1;
    opacity: 0; }
    .custom-form .check-field input:checked ~ label:after {
      opacity: 1; }

.fields {
  padding: 0 35px; }
  .fields .field-50 {
    float: left;
    width: 50%;
    padding: 0 5px; }
  .fields .field-100 {
    float: left;
    width: 100%;
    padding: 0 5px; }
  .fields p {
    float: left;
    width: 100%;
    font-weight: 300;
    margin: 10px 0 20px; }

/* =sign up */
.sign-up {
  max-width: 600px;
  padding: 0 20px;
  margin: 3rem auto; }
  .sign-up form {
    width: 100%; }
    .sign-up form fieldset {
      width: 100%;
      border: 9px solid #d1d7df;
      -webkit-box-shadow: 0 5px 8px 0 rgba(126, 140, 161, 0.4);
      -moz-box-shadow: 0 5px 8px 0 rgba(126, 140, 161, 0.4);
      box-shadow: 0 5px 8px 0 rgba(126, 140, 161, 0.4);
      border-radius: 40px;
      background-color: #f0f3f5;
      overflow: hidden;
      position: relative; }
      .sign-up form fieldset input {
        border: medium none;
        display: block;
        font-style: italic;
        line-height: 2.5rem;
        padding: 0 40% 0 1.1rem;
        width: 100%;
        border-radius: 40px; }
      .sign-up form fieldset button {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 2.5rem;
        padding: 0 1.1rem;
        font-size: 0.9rem;
        font-weight: 300;
        border-radius: 0 40px 40px 0; }

/* sign up */
/* =flex links */
.flex-links {
  margin: 2rem 0; }
  .flex-links-wrapper {
    display: table;
    border-collapse: collapse;
    width: 100%; }
    .flex-links-wrapper a, .flex-links-wrapper button {
      display: table-cell;
      vertical-align: middle;
      position: relative; }
      .flex-links-wrapper a:after, .flex-links-wrapper button:after {
        content: "";
        position: absolute;
        left: 100%;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: #d1d7df;
        z-index: 1; }
      .flex-links-wrapper a:last-child:after, .flex-links-wrapper button:last-child:after {
        display: none; }

/* flex links */
/* =blog-box */
.blog-box {
  padding: 10px 30px; }
  .blog-box ul {
    overflow: hidden; }
    .blog-box ul li {
      width: 25%;
      float: left;
      vertical-align: top;
      padding: 10px; }
      .blog-box ul li > div {
        width: 100%;
        padding-top: 100%;
        position: relative; }
      .blog-box ul li a {
        position: absolute;
        top: 0;
        left: 0;
        padding: 40px;
        background: url("../images/border-h-dashed.png") 0 0 repeat-x, url("../images/border-v-dashed.png") 0 0 repeat-y, url("../images/border-h-dashed.png") 0 100% repeat-x, url("../images/border-v-dashed.png") 100% 0 repeat-y;
        -webkit-box-shadow: 0 0 0 1px transparent inset;
        -moz-box-shadow: 0 0 0 1px transparent inset;
        box-shadow: 0 0 0 1px transparent inset; }
        .blog-box ul li a time {
          font-family: PFDin_400;
          display: block;
          width: 80px;
          color: #6E7078;
          font-size: 0.9rem;
          margin-bottom: 2.8rem;
          padding-bottom: 1rem;
          border-bottom: 3px solid #2b1664; }
          .blog-box ul li a time strong {
            display: block;
            font-weight: normal;
            font-size: 2.6rem;
            line-height: 0.8;
            margin-bottom: 3px; }
        .blog-box ul li a h4 {
          font-family: PFDin_500;
          font-size: 1.25rem;
          color: #000;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
        @media screen and (min-width: 1025px) {
          .blog-box ul li a:hover {
            -webkit-box-shadow: 0 0 0 1px #2644BC inset;
            -moz-box-shadow: 0 0 0 1px #2644BC inset;
            box-shadow: 0 0 0 1px #2644BC inset; }
            .blog-box ul li a:hover h4 {
              color: #2644BC; } }

/* blog-box */
/* =sharing */
.sharing {
  padding: 20px 0; }
  .sharing ul {
    margin: 0 auto;
    text-align: center; }
    .sharing ul li {
      display: inline-block;
      vertical-align: middle;
      border-right: 1px solid #d1d7df; }
      .sharing ul li:last-child {
        border: none; }
      .sharing ul li a {
        display: block;
        color: #6E7078;
        padding: 8px 17px;
        font-size: 1.1rem;
        font-weight: 100; }
        .sharing ul li a i {
          display: inline-block;
          vertical-align: middle;
          font-size: 1.5rem;
          color: #a2aebf;
          margin-right: 12px;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
        .sharing ul li a span {
          display: inline-block;
          vertical-align: middle; }
        @media screen and (min-width: 1025px) {
          .sharing ul li a:hover i {
            color: #2644BC; } }

/* sharing */
/* =text block */
.text-block {
  padding: 40px 0;
  color: #000;
  line-height: 1.6;
  font-weight: 300;
  font-size: 1.04rem; }
  .text-block h3 {
    font-family: PFDin_500;
    font-size: 1.7rem;
    margin-bottom: 1.3rem; }
  .text-block a {
    font-style: italic;
    color: #2644BC;
    font-weight: 400; }
    @media screen and (min-width: 1025px) {
      .text-block a:hover {
        text-decoration: underline; } }

/* text block */
.section_bottom .fp-tableCell {
  vertical-align: bottom; }

.section_top .fp-tableCell {
  vertical-align: top; }

.video {
  position: fixed;
  top: 0;
  right: 0;
  left: 199px;
  bottom: 0;
  z-index: 1; }
  .video div {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; }
    .video div video {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.home-page h1 {
  color: #fff;
  font-size: 3.8rem;
  margin-bottom: 1.6rem; }
  .home-page h1 a {
    color: inherit; }
    @media screen and (min-width: 1025px) {
      .home-page h1 a:hover {
        text-decoration: underline; } }

.search-tech {
  padding: 0.8rem 0; }
  .search-tech form {
    font-size: 0; }
    .search-tech form fieldset {
      display: inline-block;
      vertical-align: top;
      width: 265px;
      font-size: 1rem;
      border-right: 1px solid #a2aebf; }
      .search-tech form fieldset:last-child {
        border: none; }
      .search-tech form fieldset button {
        display: block;
        width: 100%;
        border: none;
        border-radius: 0;
        background-color: #2644BC;
        color: #fff;
        text-align: center;
        line-height: 60px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        @media screen and (min-width: 1025px) {
          .search-tech form fieldset button:hover {
            background-color: #282d90; } }

.machine-list {
  background-color: #fff;
  width: 100%;
  height: 50%; }
  .machine-list ul {
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .machine-list ul li {
      float: left;
      width: 25%;
      height: 50%;
      position: relative;
      border-style: solid;
      border-color: #d1d7df;
      border-width: 0 0 1px 1px; }
      .machine-list ul li a {
        display: table;
        height: 100%;
        width: 100%; }
        .machine-list ul li a figure {
          display: table-cell;
          vertical-align: middle;
          height: 100%; }
        .machine-list ul li a img {
          height: 65%;
          display: block;
          margin: 0 auto 5px;
          width: auto;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          -o-filter: grayscale(100%);
          filter: grayscale(100%); }
        .machine-list ul li a figcaption {
          text-transform: uppercase;
          padding: 0 15px;
          text-align: center;
          color: #000;
          font-family: PFDin_500;
          font-size: 1.18rem; }
        @media screen and (min-width: 1025px) {
          .machine-list ul li a:hover {
            -webkit-box-shadow: 0 0 30px 0 #a2aebf;
            -moz-box-shadow: 0 0 30px 0 #a2aebf;
            box-shadow: 0 0 30px 0 #a2aebf; }
            .machine-list ul li a:hover img {
              -webkit-filter: grayscale(0);
              -moz-filter: grayscale(0);
              -o-filter: grayscale(0);
              filter: grayscale(0); } }

.incomes {
  padding: 4.2rem 0 1rem; }
  .incomes h2 {
    font-family: PFDin_300;
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 3.3rem; }

.about-box {
  padding-top: 80px; }
  .about-box-wrap {
    background: #282d90 url("../images/bg-about.jpg") 0 0/cover no-repeat; }
  .about-box-content {
    padding-bottom: 100px; }
    .about-box-content .profile {
      margin-top: -60px;
      width: 340px;
      float: left;
      background-color: #fff;
      color: #212121; }
      .about-box-content .profile img {
        display: block;
        width: 100%;
        height: auto; }
      .about-box-content .profile-content {
        background-color: #fff;
        padding: 0 40px 40px;
        font-size: 0.9rem; }
        .about-box-content .profile-content h5 {
          font-size: 1.2rem;
          line-height: 1.5;
          margin-bottom: 1.6rem; }
        .about-box-content .profile-content p {
          line-height: 1.5;
          min-height: 1.3rem; }
        .about-box-content .profile-content a {
          color: inherit; }
          @media screen and (min-width: 1025px) {
            .about-box-content .profile-content a:hover {
              color: #2644BC; } }
    .about-box-content article {
      color: #fff;
      margin-left: 390px;
      padding: 80px 10px 20px;
      font-family: "PFDin_400";
      font-size: 1.68rem;
      line-height: 1.4; }
      .about-box-content article h3 {
        font-size: 3.5rem;
        margin-bottom: 4rem; }
      .about-box-content article p {
        margin-bottom: 3.5rem; }
      .about-box-content article a {
        display: inline-block;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 0.3rem 2.4rem;
        font-size: 1.2rem;
        font-family: PFDin_100; }
        @media screen and (min-width: 1025px) {
          .about-box-content article a:hover {
            border-color: #2b1664;
            background-color: #2b1664; } }

.view {
  position: absolute;
  top: 15px;
  right: 40px; }
  .view i {
    display: inline-block;
    width: 36px;
    height: 36px;
    cursor: pointer;
    box-shadow: 0 1px 0 1px #d1d7df;
    background-color: #fff;
    padding: 8px;
    margin: 0 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .view i svg {
      fill: #a2aebf;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    @media screen and (min-width: 1025px) {
      .view i.active, .view i:hover {
        box-shadow: 0 1px 7px 1px #d1d7df; }
        .view i.active svg, .view i:hover svg {
          fill: #2644BC; } }

.catalog-bar {
  float: left;
  width: 300px; }

.catalog .machine-items {
  margin-left: 300px; }

.machine-items ul {
  font-size: 0;
  padding: 5px 15px; }
  .machine-items ul li {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    font-size: 1.1rem; }
    .incomes .machine-items ul li {
      width: 20%; }
    .catalog-list[data-view="view_big"] .machine-items ul li {
      width: 50%; }
    .catalog-list[data-view="view_small"] .machine-items ul li {
      width: 25%; }
    .machine-items ul li > div {
      position: relative;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      @media screen and (min-width: 1025px) {
        .machine-items ul li > div:hover {
          -webkit-box-shadow: 0 8px 20px 0 rgba(162, 174, 191, 0.6);
          -moz-box-shadow: 0 8px 20px 0 rgba(162, 174, 191, 0.6);
          box-shadow: 0 8px 20px 0 rgba(162, 174, 191, 0.6);
          -webkit-transform: translate(0, -10px);
          -moz-transform: translate(0, -10px);
          -ms-transform: translate(0, -10px);
          -o-transform: translate(0, -10px);
          transform: translate(0, -10px); } }
    .machine-items ul li a {
      background-color: #fff;
      color: #000;
      padding-bottom: 3.1rem;
      border-bottom: 1px solid #d1d7df; }
      .machine-items ul li a h4 {
        padding: 1.5rem 7%;
        font-weight: 500; }
    .machine-items ul li figure {
      display: block;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; }
      .incomes .machine-items ul li figure {
        padding-top: 66.7%; }
      .catalog-list[data-view="view_big"] .machine-items ul li figure {
        padding-top: 50%; }
      .catalog-list[data-view="view_small"] .machine-items ul li figure {
        padding-top: 66.7%; }
    .machine-items ul li button {
      position: absolute;
      bottom: 1.2rem;
      left: 7%;
      background-color: transparent;
      border: 1px solid #d1d7df;
      border-radius: 3px;
      padding: 5px 11px;
      font-weight: 300;
      font-size: 0.95rem;
      color: #6E7078;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      @media screen and (min-width: 1025px) {
        .machine-items ul li button:hover {
          background-color: #d1d7df; } }

#mobile-nav {
  display: none;
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 50%;
  z-index: 14;
  padding-top: 60px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-box-shadow: -1px 0 7px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 0 7px 0 rgba(0, 0, 0, 0.2);
  box-shadow: -1px 0 7px 0 rgba(0, 0, 0, 0.2); }
